[2021-03-27 18:24] kameshsampath commented on #653
It seem to work but then I dont know why the debug message does not print the value

[2021-03-27 18:24] #653 closed, assigned to nobody

[2021-03-30 13:46] dangel101 opened #656 "event counter is increased as event is split into several events"
In the 'for' loop in utils.py [1], the counter is being increases for each line in stdout_chunks, while they all belong to the same event. This causes the request to return events where it seems that some are missing.

expected result: event counter is increased for actual events only

example data:
output of a sorted events list contains allegedly 3 missing events (28-30):
"25-b1383b92-71b3-4427-

[2021-04-07 16:19] dmsimard opened #664 "callback manipulates play._uuid at runtime and saves a suffixed version when running in serial"
Hi o/

While troubleshooting an issue with ara and AWX/ansible-runner, a user came across this bit of code:
https://github.com/ansible/ansible-runner/blob/58e0f1e0107b3ed6bfc0af4e613adfffffb9bd2f/ansible_runner/display_callback/module.py#L204-L220

The bug in ara was that it expected ``play._uuid`` to be an actual UUID (such as ``34cff6f4-9f8e-6137-3461-000000000005``) whereas ara could end up wit

[2021-04-09 12:41] mwperina commented on #656
Paul, could you please take a look? This issue is causing big mess in RHV audit_log, where we log executed ansible tasks and due to this issue we have many tasks logged multiple times ...

Thanks

@pabelanger

[2021-04-09 15:04] matburt opened #665 "Allow setting container image and properties from data dir settings"
We should be able to set container image and container runtime settings from the generalized private data dir settings: https://ansible-runner.readthedocs.io/en/stable/intro.html#env-settings-settings-for-runner-itself

[2021-04-09 15:07] matburt commented on #664
I think part of the challenge here is that ansible itself will yield these UUIDs and that uuids are somewhat meaningless to ansible itself

[2021-04-09 15:10] matburt commented on #656
We've historically treated stdout-only emissions as separate events (where ansible itself wouldn't record this as an "event") so we can distinguish them from other actual ansible events. The real problem here is that these stdout lines *don't* correspond to an actual ansible event. You probably should filter out `event: verbose` event types if this is problematic for you.

[2021-04-09 15:10] #656 closed, assigned to nobody

[2021-04-09 15:29] #600 closed, assigned to nobody

[2021-04-09 15:32] matburt commented on #644
closing due to #645

[2021-04-09 15:32] #644 closed, assigned to nobody

[2021-04-09 15:33] matburt commented on #642
I think this *is* probably a valid issue given where we were when we were first putting this together. Runner should be able to generate an inventory file for ansible to read in this case.

[2021-04-10 14:24] shanemcd commented on #621
Not a blocker for 4.0 because:

- When jobs are executed directly on the control plane, AWX itself handles cleaning up the private data dir after the job completes.
- When jobs run in a remote pod via Container Groups, any disk space used during the duration of the run is freed up when the container finishes running.

[2021-04-13 13:31] howardjones opened #667 "Even with -vvvvv ansible-runner does not indicate it is running a docker container"
I'm trying to get a local environment to run playbooks in AWX EEs, prior to committing to the project git repo. I have my EE built with ansible-builder, and a runner environment locally with the following runner/env/settings

    ---
    container_image: awx-ee-az-cli-helm
    containerized: true
    process_isolation_executable: docker
    process_isolation: true

When I run the playbook, it appe

[2021-04-13 18:01] Luoganggang opened #668 "怎么取消输出的颜色字体代码"
![image](https://user-images.githubusercontent.com/39610717/114598882-fd2c6400-9cc4-11eb-91a8-257c768165b5.png)
![image](https://user-images.githubusercontent.com/39610717/114599124-48df0d80-9cc5-11eb-9310-a8e7d5767f81.png)
怎么取消输出的颜色字体代码

[2021-04-14 07:22] Fanduzi commented on #668
[code]

[2021-04-14 07:50] Fanduzi commented on #668
I'm trying to put the output into a front-end codemirror, but I'm having the same problem as you, and I don't know how to handle this `[0;33m`, I can only choose to set `ANSIBLE_NOCOLOR: 1`

[2021-04-14 08:00] Luoganggang commented on #668
谢谢，采用这种方法前我采用的是用正则截取掉颜色代码

[2021-04-14 08:03] Luoganggang commented on #668
谢谢，采用这种方法前我采用的是用正则截取掉颜色代码

[2021-04-14 15:24] wenottingham commented on #668
Yes, this comes from ansible, not runner itself.

[2021-04-14 15:24] #668 closed, assigned to nobody

[2021-04-15 19:53] shanemcd commented on #667
Try throwing on the `--debug` flag?

[code]

[2021-04-16 04:29] jandd commented on #636
The fix is as simple as this:

[code]
newer versions of pip depend on setuptools_rust and are sufficient to build the image.

[2021-04-19 07:06] Luoganggang opened #672 "django中获取event["stdout'']不正确"
![image](https://user-images.githubusercontent.com/39610717/115194817-8d810380-a120-11eb-97e1-753fc25b1b9c.png)
django中获取event["stdout'']不正确。重复执行playbook的话输出会重复等等

[2021-04-19 07:14] Luoganggang commented on #672
# 在django views 中大致方法代码
r = ansible_runner.run_async(...)
res = r[1]
with open('stdout.txt', 'w') as f:
  for i in res.events:
    stdout = i['stdout']
    f.writelines(stdout)

[2021-04-19 18:00] AlanCoding opened #673 "The collections.json data is not JSON if ANSIBLE_DEBUG is set"
Run a job with `"ANSIBLE_DEBUG": 1` within the environment variables you give it.

Then it will output a `collections.json` file that looks something like this:

[code]

This is because the ansible-core code will output debug statements in the code path, like:

https://github.com/ansible/ansible/blob/1c83672532330d0d26b63f8a97ee703e7fc697df/lib/ansible/galaxy/role.py#L60

Of course, this means the

[2021-04-20 18:21] shanemcd commented on #635
It's up now!

[2021-04-20 18:21] #635 closed, assigned to nobody

[2021-04-22 09:16] adamruzicka commented on #637
Linked PR was merged, closing.

[2021-04-22 09:16] #637 closed, assigned to nobody

[2021-04-25 14:50] dangel101 commented on #656
In ARS we're using the 'counter' field when creating an event's name (it is the first part of its name). Therefore, just ignoring the verbose events doesn't solve the issue - we still have skipped numbering. (To solve that we'd need to go over all events after verbose events and change their counter accordingly, which doesn't make sense):
https://github.com/ansible/ansible-runner-service/blob/a9c7

[2021-04-25 23:44] #672 closed, assigned to nobody

[2021-04-26 11:23] dangel101 commented on #656
For example, events in the list holding the events in ARS are titled:
'24-0fa4ee0b-e203-47e7-aeb3-420d86b6d6d1', '25-6ea09982-d453-40fb-85aa-fe3ffff54c4a', '26-b4877978-6a76-426d-a13b-00cdc9879c6b', '27-4aa25ed1-d3ea-4492-ae0a-1674d7229e12', '31-73d083ae-ff6f-4854-8632-bf16e1ba4ef9',
The first 2 digits come from the counter field which is set in Ansible Runner, so it should correspond to actual ev

[2021-04-26 11:26] mwperina commented on #656
Matthew, could you please take a look again?

@matburt

[2021-04-29 12:58] strollo opened #681 "generate_ansible_command with custom extra vars not properly escaped"
https://github.com/ansible/ansible-runner/blob/94599535a8f744790588d91bec7d9a27c5d8b10a/ansible_runner/config/runner.py#L520

According to the official Ansible guide, to pass extra vars in json format, the object is escaped inside single quote

`ansible-playbook myplaybook.yml -e '{"my_float": 1.618, "my_string": "Time is an illusion."}'`

while this code produces something like:

`ansible-playboo

[2021-05-14 16:15] cidrblock opened #694 "Multiple, simultaneous uses of runner can result in Traceback"
[code]

[2021-05-18 18:27] matburt opened #699 "home directory .ansible-runner"
Right now we make use of `~/.ansible-runner` : https://github.com/ansible/ansible-runner/blob/a151df7fc43c1ebfe9e72c1193603a3d3e50b046/ansible_runner/config/_base.py#L91

I think we might want to shift this to `/tmp/.ansible-runner`

and then add an `@property` to https://github.com/ansible/ansible-runner/blob/a151df7fc43c1ebfe9e72c1193603a3d3e50b046/ansible_runner/runner.py#L26 that points to the

[2021-05-19 21:36] rgl opened #701 "how to use docker --network host with --container-option?"
How do I run the docker container in the host network?

I've tried the following, but it failed.

[code]

It seems `--network host` is being passed as single argument to docker run, but it should be two arguments.

Also note that ansible-runner refuses to work with `--container-option "--network=host"`:

[code]

I'm using these versions:

[code]

[2021-05-20 07:11] dabukalam commented on #642
I tried to do this same thing this morning, but ran into a different traceback:

[code]

The hosts.json in question seems to be written with 0400 permissions:
[code]

 Could possibly be this bit that's offending?

 https://github.com/ansible/ansible-runner/blob/0f5835bd7fe3c7ecdc4d421f62538e3650a329ee/ansible_runner/utils.py#L117-L131

[2021-05-20 07:13] dabukalam opened #702 "Inventory is dumped with unreadable unix permissions"
I tried to do [this same thing](https://github.com/ansible/ansible-runner/issues/642) this morning, but ran into a different traceback:

[code]

The hosts.json in question seems to be written with `0400` permissions:
[code]

 Could possibly be this bit that's offending?

 https://github.com/ansible/ansible-runner/blob/0f5835bd7fe3c7ecdc4d421f62538e3650a329ee/ansible_runner/utils.py#L117-L131

_Ori

[2021-05-22 13:15] jepsenwan opened #705 "ERROR! Unexpected Exception, this is probably a bug: No module named 'psutil'"
Hi,  I got the below error when running the playbook using python3:

ERROR! Unexpected Exception, this is probably a bug: No module named 'psutil'

But I have got all the required packages installed in my OSX env.

[code]

In the artifacts, it is 250, failed, and 
[code]

Tried downgrading the psutil to 5.7.2, but did not work. Is there something else I need to tweak? Please help out.

Thanks.

[2021-05-23 06:35] jepsenwan commented on #705
All right fixed in #466 , fixed this by installing the fix version: ` pip3 install ansible-runner==2.0.0-alpha2`

Thanks.

[2021-05-23 06:35] #705 closed, assigned to nobody

[2021-05-23 06:36] jepsenwan commented on #705
#466

[2021-05-26 12:58] shanemcd commented on #9
I do think this is basically done with `ansible-runner transmit` / `ansible-runner worker` / `ansible-runner process`. Shall we close this?

[2021-05-26 13:03] shanemcd commented on #253
This should be addressed when we move to PBR.

[2021-05-26 13:04] shanemcd commented on #293
Seems like the cancel callback is the way to go here. Please let me know if I'm mistaken.

[2021-05-26 13:04] #9 closed

[2021-05-26 13:05] #349 closed

[2021-05-26 13:07] #386 closed

[2021-05-26 13:08] #417 closed, assigned to nobody

[2021-05-26 13:09] shanemcd commented on #421
Closing due to lack of response.

[2021-05-26 13:09] #421 closed, assigned to nobody

[2021-05-26 13:09] #443 closed, assigned to nobody

[2021-05-26 13:21] #466 closed, assigned to nobody

[2021-05-26 14:57] shanemcd commented on #489
We have effectively solved this using our new tagging pattern, which we will use from 2.0+ https://quay.io/repository/ansible/ansible-runner?tab=tags

[2021-05-26 14:57] #489 closed, assigned to nobody

[2021-05-26 15:06] shanemcd commented on #508
See https://github.com/ansible/ansible-runner/pull/689

[2021-05-26 15:06] #508 closed, assigned to nobody

[2021-05-26 15:12] shanemcd commented on #547
This should be fixed now.

[2021-05-26 15:12] #547 closed, assigned to nobody

[2021-05-26 15:12] shanemcd commented on #548
Closing due to lack of response.

[2021-05-26 15:12] #548 closed, assigned to nobody

[2021-05-26 15:13] #566 closed, assigned to nobody

[2021-05-26 15:13] #580 closed, assigned to nobody

[2021-05-26 15:43] #636 closed, assigned to nobody

[2021-05-26 15:48] shanemcd commented on #665
This is possible, we just need to update the docs.

[2021-05-26 15:49] shanemcd commented on #667
Closing due to lack of response.

[2021-05-26 15:49] #667 closed, assigned to nobody

[2021-05-26 16:09] shanemcd commented on #701
The `ansible-runner playbook` and `ansible-runner adhoc` commands are going to be removed. Please direct your attention towards http://github.com/ansible/ansible-navigator/

[2021-05-26 16:09] #701 closed, assigned to nobody

[2021-05-26 20:29] kdelee commented on #604
Using this in awx, sending a large project (8.something GB of data on a machine that only has 8GB of memory) to a container group, we saw the disk usage go up indicating the file was being staged and then watched the network traffic as the file got sent. Then in the job in the container group we saw  that the files were indeed present..

Keep in mind the tower node needs to have more than 2x of th

[2021-05-26 20:29] #604 closed, assigned to nobody

[2021-05-28 17:10] bprins commented on #702
Running into the same issue when using a static `private_data_dir` and an INI formatted string with the `inventory` parameter. The problem seems to be that, after the first run, the inventory file in the `private_data_dir` is not writeable for subsequent runs.

[2021-06-04 19:35] kdelee commented on #624
@AlanCoding do you still want to do this?

[2021-06-04 19:53] AlanCoding commented on #624
@shanemcd has anecdotally reported that he stopped seeing the problem.

I may have confirmed that testing with https://github.com/ansible/test-playbooks/pull/189. I don't know what happened there. It would be good to know what's going on. However, without finding failures there, I could not possible justify mucking with this setting.

[2021-06-04 19:53] #624 closed, assigned to nobody

[2021-06-07 05:30] ganeshrn opened #718 "runner should fail if permission denied for reading event data from file"
Related issue https://github.com/ansible/ansible-builder/issues/247

ansible-runner should not fail silently https://github.com/ansible/ansible-runner/blob/devel/ansible_runner/runner.py#L76 if in case the read permission is not present for reading event data from the partial temporary file.

[2021-06-07 12:32] #694 closed, assigned to ganeshrn

[2021-06-10 15:37] chrismeyersfsu opened #723 "add flag to prevent writing artifacts stdout / stderr"
There is no way to prevent runner from writing to the stdout / stderr files in the artifacts directory https://github.com/ansible/ansible-runner/blob/devel/ansible_runner/runner.py#L150

Receptor also, effectively, writes the results of stdout to a file. This seems redundant & requires double the IOPS. Receptor needs to write stdout to disk to provide the resilience that it does to network perform

[2021-06-10 16:57] #718 closed, assigned to nobody

[2021-06-10 18:12] chrismeyersfsu opened #724 "add flag to disable runner partial event json write"
https://gist.github.com/chrismeyersfsu/e388d7c81f7d039ad617c1ac13ff0196

Above is the results of an strace of ansible-runner worker run. The majority of the IO system calls are to create and write to a very short lived job event file. There should be a flag to turn off the writing to this file.

[2021-06-14 01:22] matt8754 opened #726 "runner_on_failed event needs to reflect errors rescured by blocks"
Similar to ignore_errors, when a task error is rescued by using blocks, the runner_on_failed event should reflect it.  This is quite important for Foreman which it relies on this event to decide whether a playbook is failed.

[2021-06-14 18:45] cidrblock opened #727 "ansible-runner creates duplicate volume mounts"
When the host_cwd matches the playbook directory, duplicate volume mounts are created, which results in:

[code]

[code]

[2021-06-14 19:07] matburt commented on #726
Runner itself only reports what the Ansible event itself exposes and doesn't know anything more than what ansible-core reports. My intuition is that the rescue block happens temporally after we've received the `runner_on_failed` event and without delaying that failed event until after the rescue there's no way to know for certain if a rescue were going to occur. That would be a pretty massive chan

[2021-06-14 19:07] #726 closed, assigned to nobody

[2021-06-14 19:08] matburt commented on #724
Disabling these partials would result in missing event data... the partial files are how we join the stdout information to the task information, so this has the effect of removing events entirely.

I'm not specifically against doing this, but it would be part of a larger "disable event handling and just dump stdout" sort of thing.

[2021-06-17 14:35] #727 closed, assigned to nobody

[2021-06-17 14:35] #699 closed, assigned to ganeshrn, cidrblock

[2021-06-18 07:46] webknjaz opened #732 "Freenode->Libera.chat?"
I just noticed that Freenode is mentioned in the README. Has this project moved away yet?

[2021-06-18 08:23] ssbarnea opened #733 "Extend API to return ansible config as a dictionary"
Current implementation of `get_ansible_config` is not really compute-friendly as it only returns the stdout output from ansible, requiring users to manually parse this output.

I would like to propose adding a **new api method** which would return the configuration as a python dictionary, which can easily be used by consumers.

I already had a need for this in molecule and ansible-lint and it shou

[2021-06-18 10:45] webknjaz commented on #732
Oh, I see the PR https://github.com/ansible/ansible-runner/pull/729

[2021-06-18 14:59] chrismeyersfsu commented on #724
Buffer the partials in memory instead of writing them to disk. We can balance the memory usage by overflowing to disk.

[2021-06-18 20:23] wenottingham commented on #732
This landed, closing.

[2021-06-18 20:23] #732 closed, assigned to nobody

[2021-06-21 19:32] matburt commented on #724
The problem with doing that is that these two places are on the either side of a process boundary so in order to keep them in memory we would need some sort of persistent connection between the worker process and Runner's parent collector process. That's doable but increases the complexity by *a lot*... especially with a high fork count.

The original goal was to leverage disk i/o which would like

[2021-06-22 10:57] Nomanpour commented on #398
Hi,
I have same problem, I tried anything without any success
my envvars:
[code]

ansible.cfg:
[code]

[2021-06-22 11:05] Nomanpour opened #735 "ansible.cfg not load"
Hello,

I am trying to use stdout_callback plugin in ansible-runner
I added ansible.cfg file to envvars but it seems it ignores it.

my envvars:
[code]

ansible.cfg:
[code]

[2021-06-24 20:55] cidrblock opened #738 "ansible-runner writes artifacts to world rw location by default"
related to: https://github.com/ansible/ansible-runner/pull/722

[2021-06-24 20:58] cidrblock opened #739 "provide auto-delete artifact directory upon completion"
rather than every consumer of runner having to implement the logic, consider an api parameter that instructs runner to delete it's artifacts when no longer needed by runner

[2021-06-24 23:00] abadger commented on #699
Hey, I was going through some security issues with ansible-navigator today and this change to runner came up.  What is the rationale for using /tmp/ instead of ~/.ansible-runner?  For security purposes, it is always better to not use /tmp/.  I believe David Wheeler once even recommended that /tmp/ should only be used when you intentionally want to share files.

(I can wax on for pages with reasons

[2021-06-25 13:42] matburt commented on #738
I should have caught this beforehand, that whole first line probably just needs to be replaced with https://docs.python.org/3/library/tempfile.html#tempfile.mkdtemp

[2021-06-25 13:47] cidrblock commented on #738
yeah, and with a prefix for attribution

[2021-06-25 14:08] cidrblock commented on #733
for reference, combining list and dump would provide the details, defaults, and deviations: https://github.com/ansible/ansible-navigator/blob/main/ansible_navigator/actions/config.py#L286

[2021-06-25 15:40] matburt commented on #739
This *somewhat* exists already: https://github.com/ansible/ansible-runner/blob/devel/ansible_runner/interface.py#L166

[2021-06-27 00:41] jrhoward opened #741 "Permissions are not changeable because dir /runner is a Volume"
https://github.com/ansible/ansible-runner/blob/9652fa0753a31364dbb62cd787cfe07aab8e730b/Dockerfile#L54

Hi. I am trying to build off this base and dont want to run a user with guid 0.

because /runner is a Docker VOLUME I cannot change the permissions forcing me to run with a user with guid 0.

Is that the intended functionality ?

Any chance we can remove the VOLUME /runner ?

I am happy to do th

[2021-06-28 15:32] matburt commented on #699
My concern when running in container environments if you *might* not have something that looks like a home directory. This also lets us just use a vanilla call to https://docs.python.org/3/library/tempfile.html#tempfile.mkdtemp and it'll find the right place. Existing runner tooling usage has to satisfy the private data dir ahead of time already. This is just a fallback... for dev tools it should

[2021-06-28 16:17] abadger commented on #699
Cool.  I would suggest, at minimum, using mkdtemp, then, rather than using
`gettempdir() + ".ansible_runner" `.  mkdtemp is coded to be as secure as
the operating system allows. gettempdir () + a static name is trivially
exploitable.

Even better would be try to use a home dir and fallback to mkdtemp if that
fails but as you say, just coding to use mkdtemp is simpler to write... You
just have to b

[2021-06-28 21:19] matburt commented on #699
Looks like you did it yourself https://github.com/ansible/ansible-runner/pull/742 ?

[2021-06-28 21:55] abadger commented on #699
Yes.  I wanted to look for other tempdir problems as well.

[2021-06-29 13:01] #738 closed, assigned to nobody

[2021-07-01 18:36] 81Denton opened #744 "(Container) ansible-galaxy install/git clone: strict host key checking"
**ISSUE TYPE**
Bug Report

**SUMMARY**
When you build a container, the env var `ANSIBLE_HOST_KEY_CHECKING` does not affect ansible-galaxy install/git clone. This means that it is not possible to disable strict host key checking for `ansible-galaxy role/collection install`.
Adding the git repo to ~/.ssh/known_hosts via `ssh-keyscan -t rsa mygitrepo.xyz >> ~/.ssh/known_hosts` does not fix this eithe

[2021-07-02 17:21] shanemcd commented on #741
Yeah, I can't really think of any real reason this needs to be declared as an explicit VOLUME. I'd accept this PR.

[2021-07-02 18:18] wenottingham commented on #744
Hi -

This repo is for issues with ansible-runner itself. Off the top of my head, I don't think that `ANSIBLE_HOST_KEY_CHECKING`, which is for ansible-playbook reaching out via the SSH connection plugin to manage machines, is designed to be used by `ansible-galaxy` checking out git repos over SSH.

What you describe sounds like it's an issue with ansible-galaxy, which comes from ansible itself, an

[2021-07-02 18:18] #744 closed, assigned to nobody

[2021-07-02 21:34] 81Denton commented on #744
Thanks for the info, I'll go open an issue there.

[2021-07-07 12:05] ssbarnea opened #748 "Consider making some dependencies soft-dependencies (extras)"
There is a number of runtime dependencies on ansible-runner which are not really needed for all use-cases and they should be **moved into an extra**, which would allow other projects like [ansible-lint](https://github.com/ansible-community/ansible-lint) or [molecule](https://github.com/ansible-community/molecule) to reuse ansible-runner functionality that does not require these.

There are also so

[2021-07-07 13:07] matburt commented on #748
We can't get rid of pexpect as that's needed to interface with ansible itself in order to emit secrets on prompts.

python-daemon needs to be replaced in order to replace lockfile but we haven't had a chance to dive into that. The daemon functionality itself is needed at the moment but *could* be refactored out.

[2021-07-07 14:24] ssbarnea commented on #748
Both tests tools I mentioned are never expected to be used in interactive way, at least not in that kind of interactivity. In fact molecule has a `login` command which opens an interactive shell to the test vm or container, but that is more of a debug tool and never used in CI.

I seen there is a `runner_mode` which can either be pexpect or subprocess, which makes be believe it should be possible

[2021-07-09 20:49] jmontleon opened #749 "[RFE] Publish ansible-runner to quay instead of or in addition to docker hub"
There are alternative methods, but this would be the easiest way to help users circumvent docker hub rate limiting when using ansible-runner as a base layer when building in Quay, Travis, GH actions, etc.

[2021-07-10 01:25] wenottingham commented on #749
https://quay.io/repository/ansible/ansible-runner

[2021-07-10 01:25] #749 closed, assigned to nobody

[2021-07-13 05:02] jainnikhil30 opened #750 "Feature to log time spent in different phases of ansible-runner run lifecycle"
It would be great if ansible-runner could print/log time spent in different phases/stages of ansible-runner run like:

1.) starting the container
2.) running the playbook
3.) tearing down the container
4.) etc

This will be really useful for measuring the performance of ansible-runner at different phases/stages

[2021-07-14 06:34] jrhoward commented on #741
Hi @shanemcd , I have created a pull request and referenced this issue

[2021-07-14 14:31] shanemcd opened #752 "Streamline process of managing localhost when running inside of containers"
A problem with using `--process-isolation` is that in order to manage the underlying host, you must SSH into localhost. Users familiar with `--connection=local` find this rather abrasive.

One idea proposed would be to add functionality to Ansible Runner that generates an SSH key before launching the container, and then pass that in for Ansible to use.

This issue is not meant to prescribe a solut

[2021-07-15 13:45] lleontop commented on #493
Hi, I also stumbled across this issue while passing envvars parameters to ansible-runner as a python module interface. Is there any update on this? I would expect the runner should always respect whatever envvars/extravars are/if passed from the module call even if the `env/` directory exists.

Edit: With regards to envvars I think the order of updating `self.env` in https://github.com/ansible/ans

[2021-07-15 14:59] Shrews opened #753 "Documentation needs updated with removal of `adhoc` and `playbook` commands."
Since the `adhoc` and `playbook` commands were removed from the code base, the documentation has been very much out of date.

For example:

- The `execution_environments.rst` file seems to be mostly irrelevant now, or should at least be updated to show how to use an EE now.
- The `standalone.rst` doc still contains references to the removed commands.

[2021-07-17 16:12] w38351479 opened #755 "How to set write ansible run log to Specify file"
I use ansible_runner.interface.run_command_async,  I want write run log to specify file。Default input_fd/output_fd/error_fd ,but I dont know how to get this task uuid，so I want specify log file. Can anyone help me？ thanks！

[2021-07-19 13:27] kurokobo opened #756 "Can't send keys to `ansible.built-in.pause`"
## Description

Any playbooks that accepts input from users using `ansible.builtin.pause` does not work properly when running with Ansible Runner.

It would be helpful if this will be supported, or if it will be documented that this is not supported.

## Environment

- CentOS 8.2
- Python 3.9.2
- Docker 20.10.7
- Ansible Runner 2.0.1

## Step to Reproduce

Prepare playbooks then run these playbook

[2021-07-19 13:27] kurokobo opened #757 "`container_volume_mounts` should be documented"
It would be helpful if the following two points were documented.

- The `process_isolation_*` options are only for `bwrap` and not for `docker` or `podman`.
- `docker` and `podman` should be able to use `container_volume_mounts`.

[The documentation lists options](https://ansible-runner.readthedocs.io/en/stable/intro.html#env-settings-settings-for-runner-itself) such as `process_isolation_show_pat

[2021-07-20 01:04] AlanCoding opened #758 "ansible-runner should not set `--workdir` for ad hoc commands"
If using `process_isolation=True`, then the default behavior is to set `--workdir`, and the default location winds up being `/runner/project`.

https://github.com/ansible/ansible-runner/blob/dcdb62daf668a31754fc6fbf73374e7d14d5f52c/ansible_runner/config/_base.py#L432

Consider running with `module="setup"` as opposed to playbook - running an ad-hoc command. There should be no project directory, be

[2021-07-23 17:44] shanemcd commented on #756
You might be able to figure out how to provide a custom prompt by looking at the code here: https://github.com/ansible/ansible-runner/blob/dd5de99e9e9202eed620b8c02c9c06c586925e2f/test/integration/test_runner.py#L19-L26

[2021-07-25 17:11] ck3mp3r opened #760 "Add arm64 build target for docker image"
Currently only linux/amd64 images are available. Would be awesome if you could add arm64 images.

[2021-07-27 13:10] mkjpryor commented on #760
+1

This is a pretty massive blocker for using `ansible-runner` on a Mac with an M1 chip.

[2021-07-28 18:08] #741 closed, assigned to nobody

[2021-08-02 13:10] shanemcd commented on #735
Hi - can you test https://github.com/ansible/ansible-runner/pull/763 ?

[2021-08-10 19:20] scottdfedorov opened #783 "SyntaxError: invalid syntax"
Fresh install of ansible-runner on CentOS7. Both python2 and python3 are installed, but installed runner to be on python2 with `sudo python2 -m pip install ansible-runner` which installed ok.

Now attempting to run `ansible-runner --help` and getting the following error:

[code]

[2021-08-10 19:56] scottdfedorov commented on #783
Looking at the specific line referenced, it seems that even though the file is in the python2.7 folder, that method, printing with f-string (`print(f' ...`) was only added to python3 I believe.

@jladdjr You had the last commit on that line. Any help? :)

[2021-08-12 00:49] AlanCoding opened #788 "Return a machine UUID number in `ansible-runner worker --worker-info` output"
AWX tracks a `uuid` for each machine in a cluster. For normal cluster nodes, this is generated and saved in a settings file.

That's not really possible with remote execution nodes, so we need to come up with some other solution. Either ansible-runner would need to save a file in a known location, or we find some existing identifier off-the-shelf.

It looks like we could use the same logic as Ansi

[2021-08-12 01:02] shanemcd commented on #788
My first thought was maybe use the MAC address for this, but that would likely cause issues in the future when we have pod-based execution nodes (multiple containers on the same host would report the same mac address).

I'm thinking that for VM-based execution nodes this could be a UUID file laid down somewhere by the installer. For containers, we actually already have a way of obtaining a uuid:

[2021-08-12 12:08] AlanCoding commented on #788
My link to the Ansible issue was meant to imply a specific implementation. It was closed with [this PR](https://github.com/ansible/ansible/pull/10284) which did

[code]

On Fedora, those 2 locations return the same value. I don't have any preference here, so I would suggest that the easiest thing would be to mimic their logic exactly. This has a documentation advantage that this is already a thing

[2021-08-14 00:03] pabelanger opened #795 "patchback creating branch for backports"
Can patchback be configured to use a different repo to open PRs against?  Otherwise, all users of ansible-runner have to clone them now.

@shanemcd @webknjaz

[2021-08-14 07:12] webknjaz commented on #795
No. But you can enable automatic deletion of the branches upon merge in the repo settings.

[2021-08-14 19:22] webknjaz commented on #795
P.S. I was thinking about this problem in the past and concluded that it may be too complex for such a simple stateless robot. I recall pyup did auto-create forks under its org at some point and migrated to the in-repo branches later. I don't know why but I have a hunch they've hit some org-level rate limits. So if Patchback was to support this, it might require supporting a setup where a user wou

[2021-08-20 17:30] shanemcd commented on #795
We probably should enable auto-deletion.

[2021-08-20 17:49] shanemcd commented on #783
Ansible Runner no longer supports Python 2. You'll have to use the latest 1.x release.

[2021-08-20 17:49] #783 closed, assigned to nobody

[2021-08-20 20:19] scottdfedorov commented on #783
Is this in the documentation somewhere I missed? It specifically says:

and the change log from 1.4.7 to 2.0.0 doesn't note anything like that.

[2021-08-24 12:31] AlanCoding commented on #788
Implemented in linked PR

[2021-08-24 12:31] #788 closed, assigned to beeankha

[2021-08-31 08:32] kairoaraujo opened #807 "open_fifo_write TypeError exception for ssh-key in the second playbook"
I discovered if I make a loop with two playbooks to be executed in sequence (not async) using the same parameters.
The first playbook will execute properly. During the second one, I will get a TypeError exception related to the ``ssh-key``.

Example:
[code]

[code]

I don't know if it is the proper solution, but I did it to workaround in ``ansible_runner/utils/__init__.py``:

[code]

It is a valid

[2021-08-31 10:52] covelus opened #808 "Ansible Runner's run_async() -and maybe run() - seem not to be thread-safe"
I observed an unexpected and wrong behaviour: Ansible Runner consecutive calls mess up when done too fastly.

A small piece of code, that works when the calls are not done too fastly:
[code]

In the failing call (not the first, and calls not done in the VMs naming order), I send this param:
`{"username": "new_user", "target": "sever_003_linux"}`

But the artifact's stdout file reports:
[code]

My

[2021-08-31 16:35] FloLaco opened #809 "[Question] How to disable env/passwords to be created"
Hi,

I run `ansible-runner` by providing password with a dict. It run with success. If I re-run the script. It's not working anymore.
The issue is, when I run the first time the script, `ansible-runner` create a the file `env/passwords` with the content of what I provided with my dict.
If I remove manually this folder, my script is working, but again, it re create the file ...

How to disable the

[2021-09-01 19:13] Sakirnth-Z opened #810 "Support for cgroupsv2"
Hi,

At the moment ansible-runner only works with cgroupsv1. cgroupsv1 filesystem is not mounted by default anymore in the new version of Debian (Debian Bullseye). Therefore cgroupsv2 should be supported now in ansible-runner.

Could you please adapt the code that it will work with cgroupsv2.

Here is a link to cgroupsv2 documentation:
https://www.kernel.org/doc/html/latest/admin-guide/cgroup-v2.h

[2021-09-03 17:52] chrismeyersfsu commented on #810
The code in runner that interfaces directly in cgroups was used only in the Resource Profiling feature in AWX. The dependent Resource Profiling feature has been removed and now we just need to remove the corresponding code from runner.

Are you using the Resource Profiling feature?

[2021-09-04 09:53] kairoaraujo commented on #808
Could this also be the reason for the issue I opened? #807

[2021-09-04 13:11] Sakirnth-Z commented on #810
Thanks for your answer. Therefore it's dead code now?

Personally I do not use this feature. But it was reported in debian bugs, so I guess some people are using it.

Cheers,
Saki

[2021-09-06 07:48] FloLaco commented on #809
Oh, I found a bug https://github.com/ansible/ansible-runner/blob/fe3c1aa865898d4a173079ea846f9af5adc79e32/ansible_runner/config/_base.py#L153

`dict.update()` return `None`, so you can't assign `self.passwords.update()` to `self.passwords`

[2021-09-07 15:31] AlanCoding opened #813 "Verbose runs will create empty events at times"
In AWX, if you run an inventory update with podman mis-configured, you can get this:

[code]

See the `start_line` and `end_line` of the 2nd event. Also, note that the next event (counter=3) has a `start_line` of 1.

That should not happen. The standard out wrapper should never pass on an event which has no output at all. It shouldn't even pass on _valid partial lines_.

[2021-09-10 17:56] AlanCoding opened #821 "`ansible-runner process` puts job event artifacts in the wrong folder"
Compare the two commands:

[code]

### First case, `run` command

[code]

### Second case, streamed job

[code]

The remote job execution somehow drops the `ident`, although this should get passed back-and-fourth between transmit / worker / process.

[2021-09-13 08:12] FloLaco commented on #809
I found the same bug : https://github.com/ansible/ansible-runner/issues/493

[2021-09-13 08:18] FloLaco commented on #493
This PR should fix the issue about `settings` : https://github.com/ansible/ansible-runner/pull/811

The issue about precedence between dict argment and file is here :

https://github.com/ansible/ansible-runner/blob/da332d69141b8318bd3560eec2316fdbed73d21c/ansible_runner/config/_base.py#L217

and here : https://github.com/ansible/ansible-runner/blob/da332d69141b8318bd3560eec2316fdbed73d21c/ansible_

[2021-09-13 15:20] webknjaz opened #823 "[idea][testing] Use legitimate SSH keys for integration tests"
I've been browsing the tests and noticed mocked `open_fifo_write` and unrealistic things like `'01234567890'` passed in as private keys.

Here's how you could generate real keys and perform e2e testing.

https://github.com/ansible-community/collection_migration/blob/9a6ab91/rsa_utils.py#L19-L59

[2021-09-14 15:08] FloLaco opened #824 "Change ansible_runner version"
Hi,

I would like to build an `ansible-runner` wheel by myself because I've added some fix and feature and PR isn't approved at this time.
So I make a `make dist` command. But it build the wheel with a strange version number : `ansible_runner-2.0.0.0a4.dev135-py3-none-any.whl`. Where can I change this version number ? I didn't find anywhere in the code the source of this version.

Regards

[2021-09-15 10:16] FloLaco opened #827 "Issue with ansible_runner interface and inventory file"
Hi,
I discovered a bug which depend of my project folder hierarchy.
I'm using the `ansible_runner` interface on a basic python script. Depending on where is my python script, ansible_runner can't find the inventory file.

### Working example :
[code]

`main.py` extract :
[code]

Execution :
[code]

### Non working example :
[code]
As you can see, my python script is not in the same folder as my `p

[2021-09-16 16:15] AlanCoding opened #830 "Use the --tls-verify flag on `podman create` to simplify container_auth_data / verify_ssl setting implementation"
Once this makes its way into RHEL: https://github.com/containers/podman/pull/11205

Then we can refactor how `verify_ssl` inside of `container_auth_data` is handled. This is implemented in https://github.com/ansible/ansible-runner/pull/829, and uses the config file mentioned in the podman issue (the prior workaround).

The necessary patch was merged 24 days ago, but does not appear to be any any t

[2021-09-17 17:55] chrismeyersfsu commented on #807
@kairoaraujo

[code]

Correct, we write the ssh key to a named pipe to reduce the chance of the secret getting compromised.

As you noted, we do this by spawning a Thread and writing to the named pipe in the "background". I _think_ we could do better. In the main process, we could wait for the thread to at least start and block at the first write. Could you try this and see if it works?

[2021-09-20 08:20] FloLaco commented on #827
My change works like a charm, only if my playbook is not on the `project/` folder.
If my playbook is stored on `project/` folder, it does not work (even on the original code). I suppose this is because the base directory is set in `project/` :
`[WARNING]: Unable to parse /home/florian/ansible-runner-test2/ansible/project/myhosts as an inventory source`

Is it normal ?
If I check the doc :

The doc

[2021-09-27 12:31] jainnikhil30 opened #850 "ansible-runner worker --worker-info is returning same UUID for 3 different VM's"
`ansible-runner worker --worker-info` is returning the same UUID for three different VM's on IBM Cloud. Looking at the code, it reads the machine-id and puts that as UUID, which is same for all the three vm's on IBM cloud. It seems the machine-id is not a full proof unique value. We should probably construct the unique UUID with something else, may be MAC address ?

The same UUID is causing an iss

[2021-09-27 13:24] Shrews commented on #850
FYI @beeankha @AlanCoding

[2021-09-27 14:39] tchellomello commented on #850
@jladdjr

[2021-09-27 16:44] m4ri0g opened #852 "sending the playbook contents as a dictionary to the runner python module not working."
Hello As requested in the libera chat i open this issue here.

https://github.com/ansible/ansible-runner/blob/devel/ansible_runner/interface.py#L138-L139
according to this this parameter to the enty poing will take a list as a data structure or even just a string of content. but it seems it only accepts the 'string' of a filename.

I try this:

[code]
this gives an error:

  File "./test_runner.py

[2021-09-27 18:49] matburt commented on #852
This worked at one point... I reckon recent refactorings broke it.

[2021-09-27 18:50] matburt commented on #852
It was originally implemented here: https://github.com/ansible/ansible-runner/pull/21

[2021-09-27 19:47] rubyAce71697 commented on #702
I am able to make subsequent runs for same host/hosts. But for new hosts it is not writable.

[2021-09-27 21:19] jladdjr commented on #850
Interesting. I had wondered if this would happen with containers in general. iirc, confirmed that this was not the case (not remembering which container image I checked though). Clearly, this isn't always the case for vms. I like the suggestion about incorporating the mac address.

[2021-09-28 10:49] m4ri0g commented on #852
I ran on python3 as well and latest ansible-runner 2.0.2 same results. different error:

[code]
is there a way to roll back the changes so that it does work again?

[2021-09-28 14:14] matburt commented on #852
You can try going back to the previously released version of Runner in the 1.x release.

[2021-09-28 14:17] m4ri0g commented on #852
the error i posted yesterday was actually on version 1.4.7 on which version is it known to work?

[2021-09-28 14:18] matburt commented on #852
good question! Let me know when you find it!

Or.... you can fix the bug for us 😄

[2021-09-28 15:09] m4ri0g opened #853 "inventory file dumped to disk is read only."
I use a script to pass the host where to execute a playbook. the hosts are passed as arguments.
on the first iteration the script runs fine and the playbook is executed.
if the arguments change the script fails with permission denied.

[code]
if the argument change:

[code]
a host.json is dumped to disk to the inventory directory with read only permissions.

 ls -l inventory/
total 4
-r--------. 1

[2021-09-28 15:26] m4ri0g commented on #852
it does not even work in version 1.0.1 which is the earliest version on pip.
will see if i can find it in the code.. not sure where to look though!

[2021-09-28 18:41] benthomasson commented on #753
This page needs to be updated as well: https://www.ansible.com/blog/introduction-to-ansible-builder

[2021-09-28 19:59] samdoran commented on #852
I see two issues being reported here:

1. Passing the playbook as a string rather than a string that is path to a playbook file
2. Passing the playbook as a dict

In case 1, runner is looking for a playbook named `\n---\n- hosts: all\n  gather_facts: no\n  become: yes\n\n  tasks:\n    - name: debug output\n      debug:\n        msg: 'hello'\n`. I would expect that to fail and this has never worked

[2021-09-28 20:11] m4ri0g commented on #852
I do not expect case 1 to work. it is just that the runner is expecting a string according to the docstring.:

it is not very clear what kind of list or string is waiting for. so I tried my luck by encoding the yaml as a string. knowing it would not work.. but it is one of the things i have tried.

[2021-09-28 20:16] samdoran commented on #852
Looking at `isplaybook()` a bit closer, it is expecting a list of plays. That was an intentional change made in b21adbd. Since a playbook is technically a list of plays, I can see how this would be valid.

Seems like we could either massage a dict into a list, or have better error reporting.

This will restore the previous behavior:

[code]

[2021-09-28 20:23] samdoran commented on #852
I definitely agree the doc string is inaccurate and should be updated since a string was never valid.

[2021-09-29 13:59] jiridanek commented on #329
I've been looking for equivalent to https://docs.ansible.com/ansible/latest/cli/ansible-playbook.html#cmdoption-ansible-playbook-e

edit:

and the answer seems to be to use the `extravars` parameter of `ansible_runner.run()` if I have one file, and either `cmdline` parameter or `include_vars` module from the previous comment, in case I have multiple files.

[code]

[2021-09-29 15:29] m4ri0g commented on #852
i have tested it. it only works on python3.8
does it break backwards compatibility? it is supposed to work from python 2.7..

[2021-09-29 19:15] samdoran commented on #852
I didn't _have_ to do it that way, but I don't believe this project supports Python < 3.8. We only test on Python >=3.8. I'll yield to @matburt or @shanemcd on whether we should be concerned with Python 2 compatibility.

[2021-09-29 20:48] m4ri0g commented on #852
https://ansible-runner.readthedocs.io/en/stable/install.html#using-pip
it states python 2.7+, 3.6+ are supported.
i believe not everyone is using the latest version of python 3. and of course that python 2 can be dropped. but it has to be clearly   stated. the := operator is only valid from python3.8+

[2021-09-29 22:50] samdoran commented on #852
Seems like that documentation needs to be updated as well.

[2021-09-30 04:16] matburt commented on #852
2.x is out, I'm okay with requiring 3.8+ since that's the direction ansible itself is heading.

[2021-09-30 05:59] shaofanhan opened #857 "fatal or failed error_message are not displayed in stdout"
ansible-runner stdout donot display fatal or failed error_message, but it is displayed when using ansible command.

- ansible-runner stdout below
![image](https://user-images.githubusercontent.com/16680069/135395776-37bde20e-676a-4c6f-b3f2-79653215f4bf.png)

- ansible command output below
![image](https://user-images.githubusercontent.com/16680069/135395823-2fdb5fef-4cec-4bd5-869e-6171d968fe54.png

[2021-09-30 10:29] m4ri0g commented on #852
I am not sure that ruling out everyone using python3. is a good idea.
the walrus operator is causing the pr validation to fail. ansible/zuul is perhaps not python3.8

the syntax error could be fixed doing this:

[code]

[2021-09-30 13:47] thenets opened #858 "Yaml output for the "worker --worker-info" parameter"
The output for the following command does not return a YAML content as output format.

This is not an issue, but I can't understand why to use this format. For CLI interaction is easier to have JSON output, so we can use packages like `jq` and it's possible to interact with more interfaces.

## How to reproduce

- Install the `ansible-runner`
- Run command: `ansible-runner worker --worker-info`
-

[2021-09-30 14:43] samdoran commented on #852
It looks like the linter test is running with Python 3.6 in CI. We need to fix that.

[2021-09-30 22:52] erickb-n opened #860 "License incompatibility"
It appears that there is some license incompatibility in this project.  The stated license is Apache but there are several files (below) that are GPLv3 licensed.  Would it be possible to make these files dual licensed or add exceptions to them?

- ansible_runner/display_callback/module.py
- ansible_runner/display_callback/events.py
- ansible_runner/display_callback/display.py
- ansible_runner/call

[2021-10-01 17:10] shanemcd commented on #860
I think this is because these files are only imported by Ansible, which is GPLv3.

[2021-10-01 17:38] erickb-n commented on #860
@shanemcd I am trying to verify that in the ansible repo but seem to be getting lost in the weeds, any pointers as to where I should look?  Thanks.

[2021-10-02 00:51] jladdjr opened #861 "Add default cancel_callback for ansible-runner CLI invocation"
If you invoke runner as a python library, you have the option of specifying a cancel_callback ([example](https://github.com/redhat-cip/dci-pipeline/commit/4fa280b139436e420720b928b384a9a0172c91a0#diff-73210e559f23e668fa9e27db783bd2f46342a0b4aae68d7cdcc7a141821eb90aR769)). When calling runner via the CLI, however, there isn't an option to [pass in a cancel_callback](https://github.com/ansible/ansib

[2021-10-03 21:28] shanemcd commented on #860
@erickb-n Which part are you trying to verify?

For the Ansible license: https://github.com/ansible/ansible/blob/f4d4391a1f5d4d2b4159d9976216c5861023be2c/setup.py#L333

If you are trying to figure out where / how Ansible imports those files, you will not find that in the Ansible repo. Runner tells Ansible which callbacks to use here: https://github.com/ansible/ansible-runner/blob/b9a4a79fa489d823b

[2021-10-03 21:28] #860 closed, assigned to nobody

[2021-10-04 09:05] S0LERA commented on #702
Hello, I'm doing some tests and that's exactly what happens to me too.

[2021-10-04 17:28] erickb-n commented on #860
@shanemcd Yes, I am trying to figure out where/how those files are imported.

[2021-10-05 20:02] jladdjr commented on #861
cc @AlanCoding @thenets

[2021-10-06 05:43] jainnikhil30 commented on #850
@beeankha Tested the fix and it works !
[code]

It shows all the execution nodes now. Thanks for the quick fix !

[2021-10-06 13:23] samdoran commented on #850
Resolved by #854.

[2021-10-06 13:23] #850 closed, assigned to beeankha

[2021-10-06 13:47] samdoran commented on #858
I am able to duplicate this. We could move the `--json` flag to the generic options and allow it to be used across multiple subcommands.

[code]
</br>

 I think not using the default flow style would make the default output more readable.
[code]

[2021-10-11 07:56] bilaloslo92 opened #863 "Update container docs to point to new location on quay."
The docker image for ansible runner was last pushed to Docker hub 6 months ago: https://hub.docker.com/r/ansible/ansible-runner

Is this something that has stopped working?

[2021-10-11 21:04] shanemcd commented on #863
Sorry about that. I just updated that repo's readme to point to the new image location: http://quay.io/ansible/ansible-runner. Repurposing this issue to track updating the link in https://github.com/ansible/ansible-runner/blob/devel/docs/container.rst

[2021-10-12 08:40] bilaloslo92 commented on #863
Thanks! In addition, I hope the tag can be better numbered rather than having latest. Because then you actually never know which version of the image you are running.

[2021-10-12 10:26] covelus opened #864 "<_io.TextIOWrapper in artifacts' runner_object.stdout, with a successful runner_obj.status successful"
I am doing asynchronous runs using ```ansible_runner.run_async```

I **randomly** get a runner object's status "successful", but the runner object's stdout containing:
[code]

I have no more ideas about how to reproduce this, sorry.

Versions:
[code]

[2021-10-12 22:13] #861 closed, assigned to nobody

[2021-10-13 06:04] jladdjr commented on #861
Zuul's right, this got merged today. 🥳

[2021-10-13 13:48] samdoran commented on #863
I agree it would be great to have container tags that match the runner version in the container. We should track that in a separate issue, though.

[2021-10-13 14:56] #863 closed, assigned to nobody

[2021-10-13 15:14] #642 closed, assigned to nobody

[2021-10-13 15:14] #852 closed, assigned to samdoran

[2021-10-15 20:05] danielmendozapupo commented on #639
What if I want to access other hosts?

[2021-10-18 14:56] samdoran commented on #639
You shouldn't need to define the `localhost` in inventory. Just use the [implicit localhost](https://docs.ansible.com/ansible/latest/inventory/implicit_localhost.html#implicit-localhost) provided by default, or add `delegate_to: localhost` on the task (after you remove that `localhost` entry from inventory). As defined in the above example, it's possible an unexpected Python interpreter could be u

[2021-10-18 14:56] #639 closed, assigned to nobody

[2021-10-18 21:22] #753 closed, assigned to nobody

[2021-10-21 06:51] didib commented on #640
Hi all,

any update on this?

We seem to run into something similar, although we call ansible_runner.Runner(stuff).run, not run_async. We have a test suite based on ansible-runner, which used to be stable (meaning, not demonstrating this issue). It's running on RHEL 8.4. It used to run on python3.6/ansible-runner-1.4.6, and we changed it to use pipy's ansible-runner (on Oct 4, currently 2.0.2) and

[2021-10-21 18:19] mwhahaha commented on #398
So it should be noted that some configuration items are actually overwritten by ansible runner's config. stdout callback is one of those.  Fact caching path is another as the env vars seem to take priority over the ansible.cfg when being run.

You can work around this by setting the runner config env var prior to invoking run.

[code]

[2021-10-23 02:35] Drewolf opened #881 "how to set host_vars with ansible-runner"
I have a playbook that uses variables in the host_vars directory。like this:

[code]

so, how to set host_vars with ansible-runner ?

[2021-10-25 14:25] samdoran commented on #881
Inventory variables for runner are no different than [defining inventory variables in Ansible Core](https://docs.ansible.com/ansible/latest/user_guide/intro_inventory.html#splitting-out-vars). The `host_vars` directory needs to be adjacent to the inventory file.

By default, Runner looks in `<private_data_dir>/inventory` for inventory. If it is somewhere else, specify the location:

`ansible-runne

[2021-10-25 14:25] #881 closed, assigned to nobody

[2021-10-25 14:52] samdoran commented on #755
For `ansible` commands, it's not possible to change `input`/`output`/`error` file descriptors.

The output from the job is written to files in the private data directory. This defaults to `/tmp/.ansible-runner-[random]`. Specifying the private data directory will make it easier to locate output from a job.

Alternatively, specifying `artifact_dir` controls where artifacts for a job run are located

[2021-10-25 14:52] #755 closed, assigned to nobody

[2021-10-27 16:32] AlanCoding opened #889 "[Tech debt] Put the standard out callback into a collection"
The standard out callback for this project is extremely old, and has not been updated to changes that Ansible content have been adoption elsewhere.

**Proposal:** Place the `awx_display` (and minimal) callback plugins in a collection. Enable use of this collection, as opposed to the callback plugin.

I previously made a small attempt to convert this into a collection at https://github.com/ansible/

[2021-11-01 14:22] AlanCoding commented on #889
I missed this:

https://github.com/ansible/ansible-runner/blob/1a8c1c59e010ac87966a552b6d3f9f52aa1abe1e/ansible_runner/config/_base.py#L262

We add the callback dir to the PYTHONPATH in the ansible subprocess. Only if it's not containerized. That sounds like it is based on incorrect assumptions (it may not be necessary right now), but it's obviously not good.

[2021-11-03 15:25] #809 closed, assigned to nobody

[2021-11-05 15:43] Tam-Lin opened #915 "ansible-playbook not found"
I can't for the life of me figure out what's going wrong.

ansible-runner version 2.0.3
ansible [core 2.11.6]

Ansible-runner consistently fails, telling me that ansible-playbook isn't found, or isn't executable.  But it is.  I've tried using the -b option to give it the full path to the ansible binaries, and I've tried using the --debug option, but it's not giving me any more information.

[code]

[2021-11-05 15:51] Tam-Lin commented on #915
<sigh>Reread docs, again.  Didn't realize that envvars applied to the current process, while extravars gets passed to ansible itself.  I'd read that several times, but it hadn't hit home.  Will think about how doc could have been clarified to explain that.

[2021-11-05 15:51] #915 closed, assigned to nobody

[2021-11-09 14:26] Shrews commented on #864
Without _some_ information on how to reproduce this, this would be very difficult to track down. Is there a particular playbook or role you are running that might help us?

[2021-11-09 14:32] samdoran commented on #857
Could you provide a simple playbook that reproduces this issue?

[2021-11-16 17:01] jw-maynard opened #924 "Missing Documentation about Overriding the default EE"
The documentation for overriding the default EE is still listed as TODO on the documentation site. Is there someplace else with info on how to override the default EE using ansible-runner?

[2021-11-16 18:03] greg-hellings opened #925 "Add a way to check if an element of a collection is valid"
There seems to be no reasonable way, at the moment, to query Ansible/Ansible Runner to check if a collection or an element in it is present. For instance, if I attempt to run a playbook named `foo.yml`, I can check for the existence of that file. However, if I want to run playbook `ns.collection.foo` from collection `ns.collection`, there is no good way to check with Ansible that this playbook act

[2021-11-16 21:56] AlanCoding opened #926 "Option to not write artifacts/id/stdout"
Writing a `stdout` file into the artifacts directory can significantly increase the disc write volume for jobs with a lot of output. I would like to have a way to disable this.

The key line seems to be:

https://github.com/ansible/ansible-runner/blob/7fe85e791ab3194355c95d783c01d0333fca71bd/ansible_runner/runner.py#L310

I haven't looked into alternatives the pexpect provides yet.

We have a sett

[2021-11-17 07:17] shaofanhan commented on #857
It will always happen in some environment, no matter what playbooks are.

I look into ansible-runner and found the related code below. The 'v2_runner_on_failed' method mentioned in picture.

    def v2_runner_on_failed(self, result, ignore_errors=False):
        # FIXME: Add verbosity for exception/results output.
        host_start, end_time, duration = self._get_result_timing_data(result)

[2021-11-18 01:23] AlanCoding opened #927 "Option to avoid writing ssh_key to the env folder"
I want to use ansible-runner to run a playbook, which will involve using a valid private key to access the target inventory. Due to obvious security reasons, I want to avoid creating a _copy_ of my private key. Consider:

[code]

This will write my private key to `demo/env/ssh_key`. The other means of specifying the key is to write it to that file before running, which also misses the point. Writi

[2021-11-18 13:56] AlanCoding commented on #621
this was implemented, and I can't toggle labels so I will just close it

[2021-11-18 13:56] #621 closed, assigned to nobody

[2021-11-18 13:58] AlanCoding commented on #612
This doesn't appear to be needed by AWX anymore, and my interest has passed.

[2021-11-18 13:58] #612 closed, assigned to nobody

[2021-11-30 14:13] samdoran commented on #925
Collection validation is outside the scope of Runner. Failing nicely if the playbook file is not found is what Runner should do.

To discuss this further, please reach out on IRC in #ansible-runner on irc.libera.chat.

[2021-11-30 14:13] #925 closed, assigned to nobody

[2021-11-30 14:28] samdoran commented on #827
In this case, passing an absolute path to inventory is the recommended approach. From [the docs](https://ansible-runner.readthedocs.io/en/stable/intro/#inventory):

[2021-11-30 14:28] #827 closed, assigned to nobody

[2021-12-06 16:56] cmreddyv commented on #756
@shanemcd , please provide some example on how to implement this, as this feature will be really needed, as someone wants to integrate their playbooks with runner.

Use cases:

- if there is a need to have a user input before proceeding to the next steps
- some input needed from the user while the task is running.

[2021-12-07 13:54] Shrews commented on #824
We use [pbr](https://docs.openstack.org/pbr/latest/) which calculates version info from git tags. If you are attempting to package from the `devel` branch, you will get odd looking versions. You can read more about that [here](https://docs.openstack.org/pbr/latest/user/packagers.html). Based on that documentation, you might be able to set the `PBR_VERSION` environment variable manually to achieve

[2021-12-07 14:03] samdoran commented on #824
Closing per above.

[2021-12-07 14:03] #824 closed, assigned to nobody

[2021-12-07 14:11] samdoran commented on #813
Could you provide details on the misconfiguration needed to reproduce this issue?

[2021-12-07 14:19] samdoran commented on #810
Further discussion is needed to determine if we want to keep the resource profiling feature or remove it entirely.

[2021-12-07 16:12] samdoran opened #932 "This is a new issue"
I just want to say how amazing Runner is.

[2021-12-08 16:01] #932 closed, assigned to nobody

[2021-12-09 15:23] vrubiolo commented on #758
Hi @AlanCoding ,

I am hitting a related issue in that I cannot override the directory which is set via `--workdir`. I have posted at https://groups.google.com/g/awx-project/c/Il-q0mfkoeA and would welcome your feedback on this. Hopefully this is just something that I have overlooked.

Thanks for your help!

[2021-12-09 18:54] AlanCoding commented on #758
Like you say, it looks like the input to override this is `container_workdir`. This is in the `interface.py` module, but that's it, no CLI option.

[2021-12-10 08:18] vrubiolo commented on #758
Thank you @AlanCoding. Would it be appropriate to open a separate defect here?

I don't want to pollute yours; both are related but mine is not about ad-hoc commands...

[2021-12-10 14:24] AlanCoding commented on #758
Yeah, that makes sense to track it separately.

[2021-12-16 17:14] #821 closed, assigned to nobody

[2021-12-16 17:29] AlanCoding commented on #735
This will only work with #763 if you change you method of specifying the callback to the env var

[code]

I have other issues complaining about not respecting user settings in the `ansible.cfg` file, which is a problem for a few config variables.

[2021-12-20 14:48] kakawait commented on #927
In addition it seems to block (indirectly) by Crowdstrike due to recent deployment of Log4shell security update
see https://stackoverflow.com/questions/70320452/awx-all-jobs-stop-processing-and-hang-indefinitely-why

I think (I never heard about that project before) quite same situation (I give link because explaination is much clearer on that link) as https://www.ibm.com/support/pages/datastage-j

[2021-12-20 17:52] gdeleon23 commented on #853
Same to me here, in my case is python3.8

[2021-12-20 18:15] gdeleon23 commented on #702
Hello, same problem to me.

[2021-12-20 19:55] vrubiolo opened #945 "Cannot specify container work dir when running `ansible-runner` via cmdline"
Hi guys,

[Based on advice from @AlanCoding on [issues/758](https://github.com/ansible/ansible-runner/issues/758), I am opening a separate issue to track my issue. I also posted about the issue on https://groups.google.com/g/awx-project/c/Il-q0mfkoeA and will reference this ticket there.]

I am focusing on running `ansible-runner` locally in commandline mode on our existing repositories with proce

[2021-12-20 19:56] vrubiolo commented on #758
Thank you, I have opened a separate ticket and referenced my issue there (:point_up: )

[2021-12-21 13:20] kurokobo commented on #945
In my understanding, currently [there is no option to override `container_workdir` or `host_cwd`](https://github.com/ansible/ansible-runner/blob/d01304455c3c25669fba70d9983487ffdb85f1c5/ansible_runner/__main__.py#L869-L906).

As a workaround, this is hacky and dirty way, but you can make your current directory mounted as `/runner/project` by adding `--container-volume-mount .:/runner/project`.

[c

[2021-12-21 14:10] Shrews commented on #945
It does appear that we do have this setting available via the API (`container_dir`), but we do not expose it for the CLI. This is probably simple to implement.

[2021-12-21 16:09] SirUli commented on #608
Seems to be fixed in the meantime with this commit: https://github.com/ansible/ansible-runner/commit/568c1694372b7c341eca5ce36bceb4adc8e4d1d0

[2021-12-22 13:46] namelivia opened #946 "template: "Unsupported parameters for (ansible.legacy.copy) module: register""
I'm using ansible runner in Docker picking the following tag:
`quay.io/ansible/ansible-runner:stable-2.11-latest`

Today after rebuilding the image template tasks like this one:

[code]

Are failing with the following message:
[code]
Is anyone else having the issue?

Thanks!

[2021-12-22 13:52] #946 closed, assigned to nobody

[2021-12-23 15:16] SirUli opened #947 "Inventory Specification without files impossible?"
Hi,

i believe that the issue #642 was accidentally closed as the underlying issue isn't resolved. The [code](https://github.com/ansible/ansible-runner/blob/devel/ansible_runner/interface.py#L148-L154) says:

What works is the first (path) and the last option (list of sources or empty) but not the native dictionary or the ini-formatted string as already declared in the previous incident. Which mak

[2022-01-03 10:44] simonjcarr opened #948 "how to use in a python file with a JSON string for hosts"
I am trying to use ansible-runner in a python script. My hosts list is dynamically generated from a database. I want to pass this hosts list to ansible-runner directly as a string (not as a reference to a file)

Here is my runner command

[code]

This is what my inventory looks like

[code]

Here is my private_data_dir structure

[code]

The output from ansible-runner is

[code]

As you can see, e

[2022-01-03 15:02] vrubiolo commented on #945
@kurokobo : thanks for the workaround! I have tried it and can make it work, even though the generated artifacts do not end up in the correct place: I used to specify `--artifact-dir` but this cannot work due to the special mount paths (cf
[ansible-runner-with-workaround.txt](https://github.com/ansible/ansible-runner/files/7802528/ansible-runner-with-workaround.txt)

@Shrews: thank you as well for

[2022-01-04 13:26] NoSuchCommand opened #949 "Add support for custom stats"
The `Runner` object does not seem to report the custom stats set using the `set_stats` builtin Ansible module.

I would expect to find them in `Runner.stats` in a `custom_stats` key, or in its own `Runner.custom_stats` property.

[2022-01-06 16:52] Shrews commented on #945
@vrubiolo Patches are _always_ welcome. We do require tests to validate any changes, though. That might be the most time consuming part.

[2022-01-06 17:10] Shrews commented on #608
This does seem to be fixed in the latest docs, so I'm going to close this. Thanks for the report and to @SirUli for mentioning the fix.

[2022-01-06 17:10] #608 closed, assigned to nobody

[2022-01-07 07:17] alessandratesta opened #951 "Getting output from ansible runner to python and write it on a logfile"
Hi Guys,
I'm new to python and to ansible.
I was able to run a playbook using ansible runner in python code
but I am not able to write the output of ansible playbook (that I see on the screen) to a log file.
Can you send me some examples?
Thanks

[2022-01-11 14:12] Shrews commented on #951
Hello,

This appears to be a user question, not an issue or a feature request. However, since you're new to both Python and Ansible, I question if you really need to use `ansible-runner` at all.  You could use `ansible-playbook` directly which may make things simpler for you.

If you do wish to continue using `ansible-runner`, the `stdout` is saved in the `artifacts` directory of the runner input

[2022-01-11 14:12] #951 closed, assigned to nobody

[2022-01-11 14:19] Shrews commented on #949
Is this a bug report or a feature request?

We don't currently store any statistics other than the high-level data reported at the end of the `ansible-playbook` run, so it's expected that you would not see any data from `set_stats`. That being said, I don't think it would be impossible to do this, but I'm not sure it's something we want to do. It would require deeper processing of the event data r

[2022-01-11 14:19] #949 closed, assigned to nobody

[2022-01-14 20:35] AlanCoding commented on #51
@john-westcott-iv has started some research into the options for managing multiple ssh keys. By that, I mean the tradeoffs of mapping groups/hosts to specific SSH keys versus letting it try multiple keys for every host.

We also had a really good idea from @shanemcd to put the ssh-agent and ssh-add commands into a separate script to make this feel more manageable. That could be done separately fro

[2022-01-18 20:25] AlanCoding opened #964 "Preserve modification times when streaming directories via process"
Demonstrating via AWX, I ran a job that gathered facts for a host. The modification time of the files in the fact cache folder differ on the execution node versus the control node.

[code]

This matters because AWX uses the modification times to make decisions about cache invalidation.

We are only really concerned about preserving timestamps when streaming from the execution node back to the cont

[2022-01-20 18:30] webknjaz opened #969 "Stop using `distutils`"
It's deprecated. Python 3.10 raises a `DeprecationWarning` and Python 3.12 won't have it in the stdlib anymore.
Why fix it now and not wait for another 2 years when this will produce an `ImportError`? Because it's nice to solve such problems ahead of time and also since ansible-runner is a library, it also causes these warnings (_or even errors_ with pytest's [`filterwarning = error`] or [`python

[2022-01-20 18:44] cidrblock commented on #969
In case this might help
[code]

[2022-01-20 18:46] cidrblock commented on #969
We were adding some code to navigator to check for ciruclar import before enabling isort and came across this.  The distutils warning was suppressed, so it's not blocking anything, but since we came across it, thought it would be good to let you all now.

[2022-01-21 15:11] shanemcd commented on #611
I dont think we are likely to do this anymore.

[2022-01-21 15:11] #611 closed, assigned to nobody

[2022-01-21 15:30] AlanCoding commented on #969
Do you have any good suggestion for an alternative to `LooseVersion`? I was not very happy with any that I saw.

[2022-01-21 15:37] sivel commented on #969
`packaging.version` is the recommended alternative.  However, in core, we actually vendored `distutils.version` for now.

[2022-01-21 16:30] AlanCoding commented on #969
License-wise, can we add that module to runner (and then reuse in AWX)? We have this problem in a couple of projects.

https://github.com/ansible/ansible/blob/8d1cf7f266d7a81c248838917f8df5475e4439b9/lib/ansible/module_utils/compat/version.py

[2022-01-23 15:42] tympanix opened #973 "Insufficient subprocess control and termination (SIGHUP)"
It seems like ansible-runner is leaving running subprocesses behind (using ansible-runner as a Python module). Browsing through the code, this is a product of multiple bad design decisions (imo):

1. The subprocess (pexpect) has `ignore_sighup=True` thus the subprocesses persists after parent process exits. There is no exposed options to change this behaviour.
2. The PID of the subprocess nor the

[2022-01-24 19:51] Shrews commented on #969
This should be somewhat simple to do. I see runner using `distutils` for the following cases:

 - `distutils.spawn.find_executable()` : We can replace this with `shutil.which()`
 - `distutils.dir_util.copy_tree()` : We can replace this with `shutil.copytree()`. Why the `distutils` version was even used is perplexing.
 - `disutils.version.LooseVersion()` : This is only used in our test suite to ski

[2022-01-26 07:52] pcleon commented on #702
me too;
two file under inventory and project are both 400
[code]

[2022-01-26 18:29] Shrews opened #977 "Sandboxing runner with directory isolation only works via CLI options"
If the sandboxing options are placed in `env/settings` only, runner does not run sandboxed correctly. It is supposed to copy the project dir to the `directory_isolation_base_path`, but it does not.

Example `env/settings`:

[code]

The above results in a `bwrap` command that uses a `--chdir` value of `{private_data_dir}/project`.

It _does_ work correctly if used via CLI options:

[code]

The abov

[2022-01-27 09:32] vrubiolo commented on #945
Thank you. Understood. This is indeed the right way of adding a feature and making it so that it can be maintained.

[2022-01-27 15:20] AlanCoding commented on #964
Fix is merged. Further work is tracked in the AWX issue.

[2022-01-27 15:20] #964 closed, assigned to nobody

[2022-01-27 18:57] #977 closed, assigned to Shrews

[2022-01-31 14:07] #969 closed, assigned to Shrews

[2022-01-31 19:59] AlanCoding opened #983 "[RFE] Report which facts have been modified if using `fact_cache` param"
Using the combination of `ansible-runner transmit`, `ansible-runner worker`, and `ansible-runner process`, there's no really clean way to decipher which hosts have had facts updated. I have https://github.com/ansible/awx/pull/11641 up to make the AWX use _work as intended_, but it's not ideal

This is important in cases where gathering facts is expensive and lots of automation is being ran.

####

[2022-01-31 23:17] gm0neyl0ve commented on #398
@mwhahaha  Thanks for this!

[2022-02-02 20:01] cidrblock opened #984 "`ipc=host` for podman fails when `/dev/mqueue` does not exist"
Found while troubleshooting an ansible-navigator issue on WSL2/Ubuntu https://github.com/ansible/ansible-navigator/issues/610

(there is no /dev/mqueue by default on Ubuntu for WSL2)

This is half issue/half question....

Is it used by runner? (some basic playbook runs in navigator work fine with https://github.com/ansible/ansible-runner/blob/88130033e6b4791952236a8b1eb6f7ac823649e3/ansible_runner

[2022-02-07 21:00] Shrews commented on #984
I have no idea why this option is used, and there is no context within the code that I can see. I'm assuming this has something to do with an AWX need. Ping @shanemcd and @AlanCoding to see if they can shed some light on this.

[2022-02-08 18:09] AlanCoding commented on #750
The current design is very ill-suited for capturing the image pull time. You could get the started time from the started callback and then measure difference between that callback and the first event callback, but this is a very indirect means of getting the measurement.

[2022-02-08 18:12] ryanmerolle opened #990 "Container image Tag Documentation"
It seems like the logic behind container image tags is not well documented.

For example, I am not sure why:

- `latest` tag is pointing to `stable-2.11-latest`.
- There is no tag `stable-2.12-latest`
- There is no tags showing the exact underlying ansible version the runner is leveraging (ie full semantic tagging like ansible 2.11.1).

I am assuming there is logic for all of the above, and a whol

[2022-02-08 18:42] AlanCoding commented on #984
I believe it was introduced in https://github.com/ansible/ansible-runner/pull/490, which was for introducing the adhoc / playbook commands. That wording references commands like `ansible-runner playbook`, which are commands that were removed. My poor memory of what happened with these commands and containerization is that it wants to expose more things from the host machine than what the AWX use c

[2022-02-08 19:32] Shrews commented on #990
Unfortunately, the image publishing jobs have been neglected for a while (the person in charge of them has since moved on to other things), so they were in a pretty sorry state.

The tl;dr of it is that it looks to me as if we have several image publishing jobs across multiple branches (the `devel` branch and two release branches) creating much confusion as the image tagging scheme seemed to chang

[2022-02-08 19:34] Shrews commented on #990
For reference, see PR #991 and PR #992 which should disable the image publishing from the two release branches.

[2022-02-08 19:49] goneri commented on #990
In our case (Content team), our entry point is: https://github.com/ansible/network-ee and this is how we build our images: https://github.com/ansible/ansible-zuul-jobs/blob/master/playbooks/ansible-ee/pre.yaml#L19-L41

[2022-02-08 21:04] Shrews commented on #990
Another tag to be expected that I missed:

- `devel` : This is ansible-core development branch, development branch of runner

[2022-02-09 12:42] cidrblock commented on #984
@maxamillion Can you fire up the way-back machine and recall the use-case for `ipc=host`?

[2022-02-10 14:38] iv1111 opened #993 "Execution of ansible-runner hangs with no output either to stdout or stderr."
Hello,

I've been using a standalone `ansible-runner` application in the context of [ManageIQ](https://github.com/ManageIQ/manageiq). Recently, I've been having a problem with the usage of `ssh_key` (as described here int the [documentation](https://ansible-runner.readthedocs.io/en/stable/intro/)).

After placing my unencrypted private SSH key into that file and running my playbook with the `ansib

[2022-02-10 15:29] TheOnion7 commented on #993
As I mentioned in [ansible/awx/#11613](https://github.com/ansible/awx/issues/11613) , in my case , the culprit was falcon-sensor. Hope it will help you out.

[2022-02-10 16:00] iv1111 commented on #993
@TheOnion7 You're absolutely right. I confirm that the problem is the _falcon-sensor_. It seems to interfere with whatever is supposed to populate the _ssh_key_data_ pipe. Thanks for your help!

Question to the `ansible-runner` team. Do you plan a workaround for this issue? It unfortunately makes using private key access with the runner unusable (if ```falcon-sensor``` is enabled).

[2022-02-10 19:06] AlanCoding opened #994 "Support new display options in ansible-core"
wtih https://github.com/ansible/ansible/pull/76166, these configuration options were introduced:

[code]

These do not work in ansible-runner because the callback does not extend the doc fragment for this.

It is unclear if this _can_ be made to work with cross-version compatibility.

[2022-02-10 19:38] AlanCoding commented on #994
I confirmed that this will show the desired display change

[code]

Next, I checked out the ansible core commit `fd4460c1e4d8e8f8d482b3c25aac922ad7065154` and re-ran. Got this error:

[code]

As expected, listing a doc fragment that doesn't exist will lead to an error. So this leaves us in a bit of a bind trying to write our callback plugin for multiple versions.

[2022-02-11 15:02] maxamillion commented on #984
@cidrblock unfortunately my memory isn't that good .... I honestly don't recall **why** we needed it, but I remember we added it because it fixed **something** with podman on RHEL8. I seem to remember we also had `--pid=host` but removed it because we determined in testing it wasn't needed, but `ipc` persisted.

It's entirely possible it's no longer needed, that original PR was a lifetime ago in c

[2022-02-13 12:30] cidrblock commented on #984
@maxamillion TY

@AlanCoding @shanemcd thoughts here?

[2022-02-13 21:15] shanemcd commented on #984
I am pretty sure we needed this to make ssh agent forwarding work.

[2022-02-14 01:59] matburt commented on #993
I'm open to suggestions. The use of named pipes here is to specifically prevent sensitive data from landing on the filesystem. It seems like the real problem is that falcon-sensor breaks normal usage of named pipes? The only remediation would be to *not* use named pipes which has its own set of caveats and problems.

[2022-02-14 08:32] iv1111 commented on #993
Yeah, if we look at it from another angle then the ```falcon-sensor``` blocks the execution of a non-malicious application, which it shouldn't.

However, once this occurs the ```ansible-runner``` just sits there writing neither to ```stdin``` nor to ```stderr```. I think it would be more dev/user friendly if the ```stderr``` would at least indicate that it's not possible to read from the ```ssh_ke

[2022-02-14 14:29] AlanCoding commented on #926
closing as done

[2022-02-14 14:29] #926 closed, assigned to nobody

[2022-02-14 14:32] matburt commented on #993
Knowing we are blocked on an a pipe that will never return data seems like we would need to solve the halting problem first. I'm open for a PR that adds information to the docs, though.

[2022-02-14 14:58] Shrews commented on #990
After mulling this over (reviewing history, discussion with others, etc), the two PRs mentioned above (#991 and #992) and also PR #996 will make the following images available, and makes the most sense out of the current situation with the images, IMO:

Container images based on Runner `devel` branch:

- `stable-2.9-devel` : This is the ansible 2.9 stable branch, `devel` branch of runner
- `stable

[2022-02-14 16:06] iv1111 commented on #993
Determining that an algorithm terminates is certainly undecidable but what I meant is perhaps a timeout can be added that'd trigger if no data comes from the pipe for a certain amount of time and would terminate the execution writing a message to ``stderr``.

If that's not possible/worth the effort, then maybe at least in a ``--debug`` mode one could be more verbose and write a message to ``stdout

[2022-02-14 17:47] nitzmahone commented on #994
I can't remember how we handle duplicated entries on doc fragments, but IIRC (and I would hope that) the more local definition would silently "win". So probably the sanest thing here would be to either duplicate the missing entries (and also make sure core has tests that explicitly assert that behavior working the way I think it does ;) ) or drop the doc fragment entirely and duplicate all the nec

[2022-02-14 17:53] ryanmerolle commented on #990
That makes sense..  I see the tags/changes in quay now also.  Thanks for looking at this!

[2022-02-14 18:27] AlanCoding commented on #994
^ yes, this is the direction I thought it would probably go in.

In other cases, we import the callback loader from Ansible and use that to get the parent class. Could the doc fragment (plugin?) do the same thing? Then if the callback loader returned the name we expected (`result_format_callback`) then we would like to return that unmodified. If it doesn't find that plugin, then we could just have

[2022-02-14 18:30] Shrews commented on #990
Referenced PRs are merged. Closing this.

[2022-02-14 18:30] #990 closed, assigned to nobody

[2022-02-14 19:59] nitzmahone commented on #994
Unless I'm misunderstanding how you want to accomplish it, that would involve a fair bit of replumbing deep in core's config support for doc fragments, which isn't going to help provide something generic up at the actual plugin/doc level (and would certainly not be a good backport candidate, which doesn't help with older versions either).

Bigger picture: I've still never understood why runner sub

[2022-02-14 20:31] AlanCoding commented on #994
My prior comment was imprecise without code. We do this:

https://github.com/ansible/ansible-runner/blob/88130033e6b4791952236a8b1eb6f7ac823649e3/ansible_runner/display_callback/callback/awx_display.py#L64

The argument becomes a string which is either `"minimal"` or `"default"` under normal circumstances. So we're calling ansible-core's code and it returns to us a class which we then extend.

Doc

[2022-02-14 20:55] bcoca commented on #994
simpler to just add your fragment to a local `doc_fragments` dir, it will be picked up automatically, if you want it at less precedence you can control that by adding it to the configured paths as the last item.

[2022-02-14 21:01] AlanCoding commented on #994
^ that may allow a one-shot solution that's compatible with ansible-core both before and after that change.

As a general principle, I would like that ansible-runner avoid modifying any Ansible setting, because it winds up overwriting user's values. If it becomes important to support new features, then it might still be the least bad option.

[2022-02-14 21:02] bcoca commented on #994
going forward 'ansible-config get' will allow you to modify incrementally ... but that wont be for a while (also looking to 'incremental add' directly feature)
[code]

[2022-02-14 21:47] nitzmahone commented on #994
Depending on how "clever" you want to be and what Python versions you need this patched version to support, another possibility might be reimplementing your plugin's `DOCUMENTATION` attr dynamically via a module-level `__getattr__` (which IIRC has been supported since Python 3.7), and just have it pass through/merge with the value from the default plugin (rather than the static string it is now, w

[2022-02-14 22:02] nitzmahone commented on #994
and in the spirit of @AlanCoding's "imprecise without code" comment earlier :wink:, perhaps something like :
[code]
(and if you want/need to adjust values in the YAML at runtime, wrap it in a basic mutator function to do that on the fly)

That leaves the static value there for humans looking at the code or any other sanity stuff that might look at it, but by the time core's plugin loader picks it

[2022-02-15 07:10] #993 closed, assigned to nobody

[2022-02-15 15:05] AlanCoding commented on #994
I love it!

[2022-02-15 15:29] stanislav-zaprudskiy opened #998 "Runner seems to have difficulties to process large outputs"
We use `ansible-runner` (tried both 2.1.1 and devel) in combination with AWX (19.4) all running in Kubernetes.

Apart of normal AWX jobs, `ansible-runner` EEs also execute inventory sync jobs using our custom inventory plugin. The command under the hood is similar to that below:

[code]

And whenever the plugin generates "large" artifacts, we run into the following errors in AWX (varying from case

[2022-02-18 12:17] cidrblock commented on #984
I ran a quick test, renaming my ssh keys to a non standard name and using ssh agent

[code]

[code]

Results:

[code]

What I found was:
1) The playbook fails w/o `ssh-agent`
2) The playbook succeeds with `ssh-agent` and `ipc=host`
3) The playbook succeeds with `ssh-agent` and without `ipc-host`

Can anyone do a similar test? So it's not just me..............

[2022-02-21 16:55] shanemcd opened #1006 "Handle upcoming forking behavior for Display.display"
@sivel pinged us about an upcoming change in ansible-core that may require changes in ansible-runner:

The upcoming change: https://github.com/ansible/ansible/pull/77056

[2022-02-22 08:43] pierre-marie-esposito commented on #946
Same issue here, i didn't find any solution from yesterday... Same with "template" or "ansible.builtin.template".

[code]
[code]

./config/zabbix_agentd.conf.j2

[code]

I found many people having the same problem but did not find any corrective actions.

[code]

I followed the documentation too :
https://docs.ansible.com/ansible/latest/collections/ansible/builtin/template_module.html#ansible-coll

[2022-02-25 11:01] howardjones opened #1008 "--containerized is not a recognized argument"
I am trying to use ansible-runner to test playbooks in the same Execution Environment that I use with AWX, mainly to contain the dependency nightmare of azure.azcollection.

https://ansible-runner.readthedocs.io/en/stable/intro/ talks about using the --containerized argument to use an Execution Environment. But:

[code]

It also suggests that `ansible-runner -h` will give more information about co

[2022-02-28 00:22] Pzharyuk opened #1009 "Any plans to patch vulnerabilities?"
I was wondering if Ansible team has any plans on patching the following packages? All image tags contain these vulnerabilities.

✗ High severity vulnerability found in utf8proc
  Description: NULL Pointer Dereference
  Info: https://snyk.io/vuln/SNYK-CENTOS8-UTF8PROC-2087948
  Introduced through: utf8proc@2.1.1-5.module_el8.3.0+703+ba2f61b7
  From: utf8proc@2.1.1-5.module_el8.3.0+703+ba2f61b7
  Im

[2022-02-28 15:05] shanemcd commented on #1009
Hello, thanks for taking the time to report this. In the future, any security-related issues should be reported to [security@ansible.com]() (we are in the process of creating a new issue template directing people here).

I have run the same scan against the latest images and am only seeing 5 “high” vulnerabilities, so it seems like some of them have been fixed in the base centos repos. In fact, ru

[2022-02-28 16:30] Pzharyuk commented on #1009
Thanks for the response. I'll make sure to report it to security@ansible.com next time.

[2022-03-02 16:30] john-westcott-iv opened #1011 "Clean up artifacts/N/ssh_key_data fifo on failure of containerization"
If we are running in containerization mode we run a command like:
[code]

But if the podman command fails (in the case above because the specified container is invalid) the trap is never executed and the artifacts/N/ssh_key-data fifo pip is not cleaned up. Leaving this fifo around can cause downstream issues because a read of the fifo will just hang.

AWX has a work around https://github.com/ansib

[2022-03-05 03:38] iamgini commented on #853
Anyone found a solution for this ?

[code]

[code]

Then the file will be created with `600` permission.

[code]

Then ansible will say,

[code]

Any luck ?

@samdoran @m4ri0g @gdeleon23

[2022-03-07 14:20] yw5vruox7dr opened #1017 "Error: Lookup plugin <plugin> not found"
Hi,
I try to bring ansible-runner up for AWX. I rebuild the container with two extra pip packages:
[code]
The packages are installed but ansible can't use them:
[code]

[code]

[2022-03-07 16:22] yw5vruox7dr commented on #1017
Seems the collections needs to be installed too - because only ansible-core is installed:

[code]

And `'10.0.0.10/24' | ipaddr('network')` needs to be changed to `'10.0.0.10/24' | ansible.utils.ipaddr('network')` because the namespace is not auto-detected.

[2022-03-07 16:22] #1017 closed, assigned to nobody

[2022-03-07 18:38] Ladas opened #1019 "Include FQCN of role in callback data"
We have FQCN of module for every task. We also need FQCN of role for every task (which role is the task part of).

Should be extended around https://github.com/ansible/ansible-runner/blob/devel/ansible_runner/display_callback/callback/awx_display.py#L424-L425 adding a new field for `<namespace>.<collection_name>` of the role.

Usecases:
1. Visibility to collections name if roles are used with `col

[2022-03-08 13:57] Ladas commented on #1019
A follow up question: what can we do to also have FQCN for plugins and playbooks and how to expose that to Controller.

[2022-03-08 14:37] sivel commented on #1019
Core does already track the collection that the role is part of, in `task._role._role_collection`.  I've been thinking about this, and for actually using the collection loader, `task._role._role_name` would be a correctly formatted role name.  Outside of collection use the role name is just whatever the user supplied, so it can come in numerous forms.

Just tracking the collection would be easy si

[2022-03-10 22:13] RynLevin commented on #735
Would it be possible to add to the documentations the issues about callbacks_paths and other non respected ansible.cfg settings?

It feels like a bit of black magic guessing if a variable I have set isn't working because I have done something wrong or if it is that that variable only works if you are setting the Env Variable. If the system only works with Env Vars could that be documented and the

[2022-03-11 03:14] shaofanhan commented on #857
the cause is ansible and ansible-base version too high.

[2022-03-11 03:15] #857 closed, assigned to nobody

[2022-03-11 03:15] shaofanhan commented on #857
the cause is ansible and ansible-base version too high.

[2022-03-14 22:18] nitzmahone opened #1024 "`ansible-runner` base image improperly overrides `$HOME`, breaking various Ansible things"
The `ansible-runner` base image doesn't actually change the `root` user's homedir, it just overrides the `HOME` envvar to `/home/runner` while leaving the actual homedir in `/etc/passwd` as `/root`. Anything that attempts to resolve root's homedir by asking the system what it should be (eg, Ansible, all over the place via `echo ~root`) will get the wrong answer. For places where Ansible expands th

[2022-03-15 13:22] dockerized-nl opened #1025 "--cmdline'--tags foo' not passed to ansible."
No sure if this is a bug or i am doing something wrong probably just me, but here is the problem description.

ansible-runner run . -i inventory/hosts -p playbook.yml --cmdline='-C'
Working perfect passing the --check to ansible

ansible-runner run . -i inventory/hosts -p playbook.yml --cmdline='--tags foo'
Not working and doesn't give error.

I even tried putting this --tags foo in env/cmdline fi

[2022-03-16 14:41] rdepke opened #1026 "Publish Docker image for version 1.4.9"
Hi,
from what I see the 1.4.x branch is still support see latest release https://github.com/ansible/ansible-runner/releases/tag/1.4.9 and I also understand that the upstream was moved from Dockerhub (https://hub.docker.com/r/ansible/ansible-runner/tags?page=2) to quay.io https://quay.io/repository/ansible/ansible-runner?tab=tags.

I also noticed that the base image uses the no longer support cento

[2022-03-17 15:17] Shrews commented on #1024
https://github.com/ansible/ansible-runner/commit/b72f1e933f373a1f7dcffb5a8abba6804692f0b1

[2022-03-17 15:55] nitzmahone commented on #1024
Yeah, I went chasing down that rabbithole a bit yesterday- long ago, `runner` was an actual user in the container, then it wasn't. Its homedir was originally `/home/runner`, then it changed to `/runner` for $reasons_unknown, then the user was removed and put back to root, but left overriding its homedir (the wrong way) as `/runner`, then changed back to `/home/runner` (which is the commit you link

[2022-03-18 10:00] cortex3 opened #1028 "latest ansible version"
Hi,
I couldn't find anything in the docs or in the github issues about this.
Is it possible to use a more recent ansible version with this docker image?
We've ran into a bug in ansible 2.9 and would prefer to use ansible 2.12 instead.

[2022-03-18 15:39] Shrews commented on #1028
Can you clarify what "this docker image" is?

[2022-03-18 16:20] cortex3 commented on #1028
Oh I'm sorry, I didn't realize that the docker image in the dockerhub is no longer maintained. quay.io uses an up-to-date version.

[2022-03-18 16:20] #1028 closed, assigned to nobody

[2022-03-18 23:46] cidrblock commented on #984
@shanemcd thoughts?

[2022-03-22 17:04] AlanCoding commented on #998
I can't reproduce this

https://github.com/AlanCoding/test-playbooks/blob/master/inventories/dyn_inventory_large_1000.py

This creates random keys / values in hostvars to maximize the compressed size. Locally looking at the sizes:

[code]

These should exceed your values sufficiently. Yet I'm able to run this in AWX, as a container_group job without a problem.

[2022-03-22 22:14] chilicheech commented on #475
it would be really awesome for the runner to accept a list of playbook paths, just like `ansible-playbook` does.

[2022-03-23 07:50] stanislav-zaprudskiy commented on #998
I'll check your example script on our AWX deployment, and will report back with results.

[2022-03-24 12:56] AlanCoding opened #1029 "Allow customization of the temporary directory location"
Runner does several things that involve creating an ad-hoc temporary folder, and these are put into `/tmp`. AWX allows customizing the temporary directory location for the private_data_dir itself, but runner should also inherit that location and place any temporary files that it needs there as well.

[2022-03-24 13:00] shanemcd commented on #1029
I would also like to handle the case where the `TEMP` environment variable is set.

[2022-03-24 13:51] shanemcd commented on #1029
Looking at the code, Runner might already do the right thing here. I dont see `/tmp` hardcoded anywhere outside of the tests

[2022-03-24 18:02] AlanCoding commented on #1029
There are a lot of lines like this:

https://github.com/ansible/ansible-runner/blob/2852b4b902121e1dce01e12848cdb2c8734d07c5/ansible_runner/config/_base.py#L107

(and `defaults.AUTO_CREATE_DIR` is a simple constant)

For AWX, we do a few things that require temporary files that have to be _outside_ of the private_data_dir, such as writing a file for the image registry auth. This uses the same kind

[2022-03-25 14:44] shanemcd commented on #1029
As part of this we may need to change how `ansible-runner worker cleanup` behaves.

@john-westcott-iv pointed out that if we change `AWX_ISOLATION_BASE_PATH` on the control plane, things will probably not behave correctly when cleaning up execution nodes.

Maybe `--file-pattern` should become a little smarter and respect relative paths.

[2022-03-25 14:48] shanemcd commented on #1029
@AlanCoding in response to your most recent comment, it looks like `tempfile.mkdtemp` does the right thing if we set `TMPDIR`:

[code]

[2022-03-25 14:54] AlanCoding commented on #1029
Because `tempfile.mkdtemp` creates things in the machine's configured tmp dir, the cleanup command uses `tempfile.gettempdir()` as the base path for miscellaneous directories. The only point here is consistency, ansible-runner needs to look for things to cleanup in the same location where it creates them.

https://github.com/ansible/ansible-runner/blob/2852b4b902121e1dce01e12848cdb2c8734d07c5/ansi

[2022-03-30 14:38] tgoetheyn commented on #1024
I can confirm this breaks the playbook when trying to use `async_status`

the task which starts async creates a result file in /home/runner
[code]

The async status job fails becaus it looks in the wrong directory
[code]

[2022-03-30 21:28] senorsmile commented on #1008
I am new to ansible-runner and running into the same issue going through the docs.

NB: I'm using v2.3.1 and following that version of the docs: https://ansible-runner.readthedocs.io/en/2.1.3/intro/

[2022-03-30 22:34] sean-m-sullivan commented on #1024
Can confirm as well, we are seeing a job for localhost with async failing on lateast AAP

[2022-03-31 18:47] cidrblock commented on #984
Ping :)

[2022-04-01 17:32] AlanCoding opened #1030 "Add validation to prevent unexpected types in environment variables"
Demo in python console:

[code]

There it hangs. This is experiencing the traceback pasted in https://github.com/ansible/awx/pull/11993, but doing so silently.

The fix is to use `envvars={'ALAN': 'True'}` instead.

However, the poor error handling incurs significant cost in terms of people tracking down the root cause. Runner should avoid this by giving a descriptive error right away.

It would a

[2022-04-01 18:05] Shrews commented on #1008
Looks to me that this option was both added and removed in https://github.com/ansible/ansible-runner/pull/470 but the added documentation did not account for the removal of the option. The [process isolation](https://ansible-runner.readthedocs.io/en/stable/intro/#process-isolation-settings-for-runner) settings are the correct way to use containers.  We just need to remove this bit from our documen

[2022-04-01 18:17] Shrews commented on #1026
The images we publish definitely need attention as they are currently built nightly (or when PRs merge) and are not based on actual released versions of either `ansible-runner` or `ansible` (they track the HEAD of both git repositories). I don't see us adding anything for the older `1.4.x` branch until that is changed, if even then. I consider these images as "use at your own risk" and you are lik

[2022-04-02 11:55] rdepke commented on #1026
Thanks @Shrews for your response. We will consider than to build our own image or speed up the migration to a newer version. I leave it to you if you want to close this issue or not.

[2022-04-04 07:57] stanislav-zaprudskiy commented on #998
@AlanCoding, thank you for looking into that. Below are the details of our additional testing.

We did check the inventory script you referenced, and we ran into the same issues as reported originally. The stack traces are actually produced by AWX `task` container, as we could now see - the jobs in AWX are just marked as in `Error` state _w/o any details in UI/API at all_ (another major problem we

[2022-04-04 18:40] #1026 closed, assigned to nobody

[2022-04-05 13:13] Shrews commented on #1030
Agreed. Definitely something we should investigate.

[2022-04-05 13:21] Shrews commented on #1011
Gotta admit, I'm confused by this. Hoping @shanemcd can provide some insight/solution here.

[2022-04-05 16:12] stanislav-zaprudskiy commented on #998
I did some more tests using K8s cluster in GCP and AWS (managed by [Gardener](https://gardener.cloud/)), and for both cases I ran into the same failures using the [inventory script referenced](https://github.com/AlanCoding/test-playbooks/blob/master/inventories/dyn_inventory_large_1000.py).

Steps to reproduce:
1. Get a K8s cluster
2. Deploy AWX in basic configuration

    <details>

[code]

    <

[2022-04-07 16:34] stefangluszek opened #1032 "Unexpected Exception when using cache_plugin FQCN with a dynamic inventory"
Steps to reproduce:
test.py:
[code]

aws_ec2.yml content:
[code]

Running `python test.py` results in:
[code]
Changing `cache_plugin: ansible.builtin.jsonfile` to `cache_plugin: jsonfile` solves the issue. But the recommended way is to use FQCN and it running `ansible -m ping all -i aws_ec2.yml` works correctly with `cache_plugin: ansible.builtin.jsonfile`

[2022-04-08 13:58] john-westcott-iv commented on #1011
Below is some code to replicate this issue. Note that running this code will create a directory at the same location of the code being executed if you want to change this modify line 61:
[code]
The directory it creates is called `ansible-runner-testing` and is the private_data_dir we give to runner. Inside this directory it creates a project directory with a small sample playbook. You shouldn't ha

[2022-04-08 14:33] AlanCoding commented on #1030
We already have an upstream issue, and here it is: https://github.com/pexpect/pexpect/issues/512

There is a proposed fix at https://github.com/pexpect/ptyprocess/pull/47, which was not even in dispute, ending at

Predictably, it has been stuck there for over 2 years.

[2022-04-08 14:49] AlanCoding commented on #998
Thanks for digging into this. I'm now even more convinced that this is the same thing which has been reported elsewhere in AWX. There are lots of duplicate issues that lay out the issue in an unclear way, but after searching through, I believe https://github.com/ansible/awx/issues/11338 is the most accurate articulation of this bug. I suspect that there is a route to pinning down the error by comb

[2022-04-08 20:12] ryanmerolle opened #1033 "Delete https://hub.docker.com/r/ansible/ansible-runner"
I know ansible-runner migrated from [dockerhub](https://hub.docker.com/r/ansible/ansible-runner/tags) for [quay](https://quay.io/repository/ansible/ansible-runner?tab=tags) awhile ago.  Is there any reason why no one has deleted the org and images?  I noticed some docker repo proxy solutions pull down the repo details for the first matching image name.  For many of those proxies dockerhub is usual

[2022-04-12 15:41] aleyamayab opened #1036 "How to get details of playbook executions"
Good morning, how can I do to be able to capture the output of my execution of my playbook in a log file, to have integrity of my playbook

![image](https://user-images.githubusercontent.com/100615826/163001028-c4842150-6233-4a05-8b32-b72a818f104c.png)

[2022-04-14 23:01] m4wh6k opened #1038 "`project_dir` argument to ansible_runner.run not respected"
`ansible-runner==2.1.3`
macOS 11.6

It appears the the `project_dir` argument to `ansible_runner.run` is not respected, at least when a `playbook` argument is also passed as a dict. A `main.json` is created in the `private_data_dir` with a json-encoded version of the `playbook` arg, and that's the playbook really executed. The expectation would be that other playbooks or tasks would be accessible

[2022-04-19 13:21] eqrx commented on #1036
Hey! Stdout is actually captured in a file which you can grab for this use case! See the documentation here: https://ansible-runner.readthedocs.io/en/stable/intro/#runner-artifacts-directory-hierarchy :) Hope that helps!

[2022-04-19 13:21] #1036 closed, assigned to nobody

[2022-04-19 13:22] eqrx commented on #1033
@shanemcd @matburt do you have access to the org and can do something about this? Thanks :)

[2022-04-19 13:23] eqrx commented on #1032
Hey! Thank you for the reproducer, we will look into it :)

[2022-04-19 14:10] Akasurde commented on #1032
@stefangluszek What is the version of Ansible used?

[2022-04-19 14:21] stefangluszek commented on #1032
`ansible [core 2.12.4]`

[2022-04-19 17:53] matburt commented on #1033
This is done!

[2022-04-19 17:53] #1033 closed, assigned to nobody

[2022-04-19 20:27] ryanmerolle commented on #1033
Thanks @matburt

[2022-04-19 20:29] ryanmerolle opened #1040 "ansible 2.13 tags"
Create 2.13 tags for ansible-runner.

[2022-04-20 07:45] anxstj opened #1041 "devel has wrong version number"
If ansible-runner is directly installed from the git repository (like AWX is doing it), then it shows the wrong (or at least a confusing) version number.

[code]
The latest release (and tag) is 2.1.3. So I would assume that the current version from devel has at least the same version number as the latest release.

[2022-04-20 08:16] Akasurde commented on #1025
@dockerized-nl I am not able to reproduce this behavior. Here is my setup -
[code]

[code]

[code]

I am using the Ansible devel version and Ansible runner 2.1.3

[2022-04-20 13:34] Akasurde commented on #1008
resolved_by_pr #1043

[2022-04-20 13:39] dyerjos opened #1044 "Official image on Docker Hub is Down?"
https://registry.hub.docker.com/r/ansible/ansible-runner I'm getting a 404 error when attempting to pull the latest ansible/ansible-runner image. I didn't have issues until about 3 or 4 pm CST April 19th. Is this only a problem for me or are other people having issues with the official image on docker hub?

[2022-04-20 14:15] #1008 closed, assigned to nobody

[2022-04-20 14:42] dyerjos commented on #1044
I was able to fix my pipelines by pointing to `quay.io/ansible/ansible-runner:latest` instead of `ansible/ansible-runner:latest` . If the issue here is that the repo was intentionally shutdown on docker hub to force traffic to Red Hat's quay.io , it would be nice if this migration was mentioned in the doc's here on github or something of the sort.

[2022-04-20 17:19] latch-lio commented on #1044
We're facing the same issue. Was it intentional?

[2022-04-20 17:23] kurokobo commented on #1044
Intentionally deleted. Refer #1033

[2022-04-20 17:58] dyerjos commented on #1044
Thank you for clarifying what is going on here. My company was still using the Docker Hub image and we were not aware that it was being shut down. I'll close this ticket.

[2022-04-20 17:58] #1044 closed, assigned to nobody

[2022-04-21 11:05] Akasurde commented on #948
@simonjcarr You need to pass the inventory JSON as -

[code]

So your script might look like this -

[code]

[2022-04-21 12:03] Akasurde commented on #924
The page which requires edit - https://ansible-runner.readthedocs.io/en/stable/container/#overriding-the-reference-container-image

[2022-04-21 12:26] shanemcd commented on #998
I am pretty sure this is https://github.com/ansible/receptor/issues/597

[2022-04-21 12:29] Akasurde commented on #810
resolved_by_pr #997

[2022-04-21 13:31] #948 closed, assigned to eqrx

[2022-04-22 12:22] ssbarnea opened #1046 "quay.io/ansible/ansible-runner:latest has no aarch64 version"
Apparently the runner image from `quay.io/ansible/ansible-runner:latest` is not dual-arch x64/aarch64 and that is a serious issue as we would expect more and more users to user aarch64 (Apple Silicon being a major driver).

Directly impacts @ansible/devtools creator-ee project.

Blocks: https://github.com/ansible/creator-ee/issues/7

[2022-04-22 12:33] cidrblock commented on #1024
I suspect this is related, or at least a symptom? https://github.com/ansible/ansible-runner/pull/805

[2022-04-22 16:44] xth1 opened #1047 "Was the image in dockerhub removed?"
We have a Dockerfile that uses the `ansible/ansible-runner` docker image, but lately, we're getting this error:
[code]

And I see that the image [doesn't seem to be available in Dockerhub anymore](https://registry.hub.docker.com/r/ansible/ansible-runner/).
Is this expected?

[2022-04-23 01:19] ryanmerolle commented on #1047
Yes.

See #1033

The image on dockerhub was super old and dockerhub was abandoned for quay some time ago.

[2022-04-24 09:15] Sakirnth-Z commented on #810
Thank you for your work. In Debian I patched the version 2.1.3 with this patch.

Greetings
Sakirnth

[2022-04-24 09:15] #810 closed, assigned to nobody

[2022-04-25 12:00] Akasurde commented on #1047
Duplicate of https://github.com/ansible/ansible-runner/issues/1044

[2022-04-25 12:00] #1047 closed, assigned to nobody

[2022-04-25 15:50] shanemcd commented on #998
@stanislav-zaprudskiy The latest version of awx-ee now has a patched version of receptor in it. Can you pull the latest version and try it out?  You may need to use `image_pull_policy` on your AWX custom resource object: https://github.com/ansible/awx-operator#deploying-a-specific-version-of-awx

[2022-04-25 15:57] shanemcd commented on #998
Never mind, I just saw your comment on https://github.com/ansible/receptor/issues/597. That is perplexing.

Can you provide some information about your workload?

- How many hosts?
- How many job events? (You can find this at `/api/v2/jobs/<id>`)
- Any information you can provide about the facts being gathered.

[2022-04-25 17:16] shanemcd commented on #998
@stanislav-zaprudskiy Have you tried the workaround described in https://github.com/ansible/awx/issues/11338#issuecomment-972708525?

[2022-04-25 19:49] Shrews commented on #1041
tl;dr is you can't depend on this number in the `devel` branch as the reported version is based on the latest git tag in the current branch.

When new (non-patch) releases of `ansible-runner` are created, the `devel` branch is git tagged (e.g., `2.1.0`) and a new branch is created (`release_2.1`). Subsequent patch releases of the 2.1 branch are tagged on the new `release_2.1` branch, not the `deve

[2022-04-25 19:49] #1041 closed, assigned to nobody

[2022-04-26 11:21] Akasurde commented on #945
@vrubiolo Are you working on the fix?

[2022-04-26 12:06] stanislav-zaprudskiy commented on #998
@shanemcd,

We have 2 installations ATM: one running v20.x of AWX, and another v15.x. We are in process of migration of all workloads from the older installation to the newer one (for various reasons), and this problem with inventories is currently hindering the progress.

In the new installation we already have 20k hosts, but many inventories can't sync, so it's not a final number. The old instal

[2022-04-26 14:48] Tioborto commented on #998
Hello @shanemcd,
To complete with another use case (we are another company), we run a template on a large inventory (~ 8000 hosts). This produces a large number of events (9725) with a page count (389) on `/api/v2/jobs/{id}/job_events`
We use the last version of ansible-runner and the last version of AWX (21.0.0).
[code]

For us, it's possible to try the workaround because we deployed our instance

[2022-04-27 14:45] sivel commented on #1032
I wonder if this has something to do with the `fact_cache_type` for `BaseConfig` and runner setting env vars for `ANSIBLE_CACHE_PLUGIN` and `ANSIBLE_CACHE_PLUGIN_CONNECTION`.  At first glance it seems incompatible to want to configure those outside of runner, meaning that ansible.cfg and inventory configs should not attempt to set them when using runner, but instead set `fact_cache_type` within ru

[2022-04-27 14:50] shanemcd commented on #998
Now I'm almost positive that @AlanCoding was correct - it has to be https://github.com/ansible/awx/issues/11338.

Unfortunately we do not currently have the resources to rearchitect this part of our application, especially since it is not affecting our customers on OpenShift, and the fact that there is a workaround. Hopefully they will fix https://github.com/kubernetes/kubernetes/issues/59902 soon

[2022-04-27 14:50] shanemcd commented on #998
I'm going to close this as I think enough evidence has been provided to prove that the problem is not within ansible-runner.

[2022-04-27 14:50] #998 closed, assigned to nobody

[2022-04-27 15:08] bcoca commented on #1032
can you test the following PR?

[2022-04-28 09:57] Akasurde commented on #947
@SirUli You need to pass the inventory JSON as -

[code]

So your script might look like this -

[code]

If you have hostvars and groupvars,

[code]

[2022-04-28 15:01] Akasurde commented on #610
@liminghua999 Thanks for reporting this issue. You need to modify the code something like -

[code]

Please feel free to re-open the issue if the problem persists. Thanks.

[2022-04-28 15:01] #610 closed, assigned to Akasurde

[2022-04-28 15:05] Akasurde commented on #618
@devdkerr Thanks for reporting this issue. I am not able to reproduce this issue.

[code]

Can you please provide additional information to reproduce this issue? Thanks in advance.

[2022-04-28 15:12] stanislav-zaprudskiy commented on #998
@shanemcd, we did more research around receptor and made the test inventory script working using [`streammethod: tcp`](https://github.com/ansible/receptor/blob/devel/pkg/workceptor/kubernetes.go#L912) and some `socat` magic on the EE which makes `ansible-runner` to read the incoming data from the receptor and stream results back to it.

I was going to perform some more tests and then to roll out t

[2022-04-28 22:26] sivel commented on #1032
We got an issue report about this yesterday too at https://github.com/ansible/ansible/issues/77669

https://github.com/ansible/ansible/pull/77659 has been merged and to address this.

[2022-04-29 03:27] Akasurde commented on #1032
Closing this issue as PR ansible/ansible#77659 is merged. Please feel free to re-open the issue if the problem persists.

[2022-04-29 03:27] #1032 closed, assigned to nobody

[2022-04-29 07:08] bpedersen2 commented on #618
Looks like you need to pass a (python) list of hosts as host param, not an inventory name or you should pass the inventory param to run, not  as part of the playbook.

[2022-04-29 19:26] shanemcd commented on #998
@stanislav-zaprudskiy Nice digging, consider me impressed. If this helps you maybe we could look into exposing it via awx-operator. It's just more complex and we'd need to think about what the inputs look like... and certs. I used the k8s logger because we get access to it for free after the operator creates the service account. If you want to chat through anything, email is on my profile.

[2022-05-05 00:40] HoopesC opened #1061 "`ansible-runner` not pulling variables from `group_vars`"
I am unsure if I am doing something wrong or missing something. I am trying to convert my Ansible role from CLI usage to ansible-runner and I am having an issue getting the runner to pull variables from `private_data_dir/inventory/group_vars`.

[code]

[2022-05-05 04:48] #1024 closed, assigned to nobody

[2022-05-05 11:31] Akasurde commented on #253
[`pbr`](https://docs.openstack.org/pbr/latest/) is implemented. Closing this issue.

[2022-05-05 11:31] #253 closed

[2022-05-05 11:47] ryanmerolle opened #1064 "ansible-runner stable docker image not using latest version"
Looking at quay, it seems the ansible-runner stable tags have a label of a `build-date` of `2022-03-08` & when you download the image, in pip the installed `ansible-runner` version is `2.1.4.dev2` instead of `2.2.0`.

Can someone correct this build to reflect the new ansible-runner version?

Thanks!

[2022-05-05 12:19] Akasurde commented on #1064
@ryanmerolle Thanks for reporting this. We are working on revamping the pypi and container release pipelines. We will keep you posted.

[2022-05-05 12:21] ryanmerolle commented on #1064
It looked like pypi was fine.  ansible-builder has both missing.

Thanks!

[2022-05-05 14:03] Akasurde commented on #351
resolved_by_pr #1065

[2022-05-06 07:20] Akasurde commented on #807
Type checking for `data` is done via PR https://github.com/ansible/ansible-runner/pull/1000. Closing this issue, please feel free to re-open if the problem persists. Thanks.

[2022-05-06 07:20] #807 closed, assigned to nobody

[2022-05-06 11:18] blindrood opened #1068 "Docker Image - Ansible discovers /usr/libexec/platform-python as python binary which is python3.6"
When running EE in AWX ansible discovers python binary with path /usr/libexec/platform-python which is a symlink to python3.6 binary. While dependencies are installed via pip they're refering to /usr/bin/python which is python3.8. This causes issues during playbook execution like "no module named 'something'" because python3.6 doesn't know about pip packages installed for python3.8
This can be eas

[2022-05-06 11:20] blindrood commented on #1068
ansible-collections/community.postgresql#252

[2022-05-06 11:56] Akasurde commented on #1061
@HoopesC Thanks for reporting this issue. What is the problem that you are facing? I am able to refer `group_vars` from `private_data_dir/inventory/group_vars`.

[2022-05-06 22:13] HoopesC commented on #1061
My apologies for taking up your time @Akasurde, I had another individual look over all of my code and it was a silly mistake I missed. I was missing the group names in my `inventory/hosts` file. I have Python updating my inventory and I forgot to have it place the host under the appropriate group.

[2022-05-06 22:13] #1061 closed, assigned to nobody

[2022-05-09 14:29] Bellaby commented on #853
This issue has started to appear for me in Ubuntu 20.04.

`hosts.json` is read only for the user and nothing else. When it comes to adding a new dictionary of hosts to the next `ansible_runner.run(inventory=inv)` run it throws a `Permission Error: [Errno 13] Permission denied` traceback.

Directories are in the user's home and all directories have the users and group '755' (of the same name) permi

[2022-05-10 09:33] lcfd opened #1071 "Improve run_async documentation and examples"
We are trying to get logs [data](https://ansible-runner.readthedocs.io/en/stable/ansible_runner/#ansible_runner.runner.Runner.events) about an event when it occurs directly in Python.
Because we are using

`runner_async_thread, runner_object = ansible_runner.interface.run_async(...`

There appears to be no clear way in the documentation to see the output of playbook tasks as they run.

The [docume

[2022-05-10 18:27] Shrews commented on #1071
Yeah, admittedly, the docs are not great here.

You can repeatedly query the [`runner_object.events`](https://ansible-runner.readthedocs.io/en/stable/ansible_runner/#ansible_runner.runner.Runner.events) attribute to get any event data that has been returned so far. But you'll have to keep re-reading it until the process finishes in order to get all of the data. And any data read in previous access

[2022-05-10 18:38] Shrews commented on #1071
I've updated this ticket to turn it into a documentation bug for us to improve that area.

[2022-05-11 12:38] lcfd commented on #1071
Thank you @Shrews for the answer and for opening the doc improvement issue.

Yes, I've seen this solution in another answer somewhere.
It didn't seem very reliable.

Useful advice, we will pay attention 👍🏼

---
If I may give feedback, the presentation of the documentation can be improved a bit.
The general sensation of reading a "wall of text" is strong and doesn't help comprehension.
This is why

[2022-05-11 20:28] sivel commented on #1068
This is likely due to the fact that you have a `localhost` entry in your inventory without an `ansible_python_interpreter` specified, so it uses interpreter discovery, which correctly chooses the preferred `/usr/libexec/platform-python`

I would not recommend performing such a symlink operation.

[2022-05-12 01:37] safeblood opened #1073 "fact recognize error"
[code]

[code]

![image](https://user-images.githubusercontent.com/10238800/167974597-697c8408-c3d7-45ba-98d8-f49fc90e1e8b.png)

[2022-05-12 04:25] Akasurde commented on #1073
@safeblood Thanks for reporting this issue. Could you please provide the output of this playbook with `ansible-playbook` command?

[2022-05-12 05:19] safeblood commented on #1073
with all verbose or just this? this is the result from ansible-playbook
![image](https://user-images.githubusercontent.com/10238800/167997358-75947f23-f17a-4788-bfb4-30aef4505d7e.png)

this is result of the ansible-runner
![image](https://user-images.githubusercontent.com/10238800/167997732-65fa99bb-55e1-4195-bed5-b9d630f6337a.png)

I try ansible-runner cli and it works fine.
![image](https://user

[2022-05-12 10:08] evgeni opened #1074 "runner 2.2 breaks callbacks that use `get_option`"
Ohai,

ansible runner 2.2.0 breaks runs that use callbacks which utilize `get_option` to load options, like the `tree` callback in ansible-core.

[code]

[code]

Running the above Python code results in:
[code]

And with increased verbosity:
[code]

Downgrading to ansible-runner-2.1.3 makes the same code work again.

[2022-05-12 10:08] evgeni opened #1077 "runner 2.2 breaks callbacks that use `get_option`"
Ohai,

ansible runner 2.2.0 breaks runs that use callbacks which utilize `get_option` to load options, like the `tree` callback in ansible-core.

[code]

[code]

Running the above Python code results in:
[code]

And with increased verbosity:
[code]

Downgrading to ansible-runner-2.1.3 makes the same code work again.

[2022-05-12 14:19] Shrews commented on #1077
@shanemcd @AlanCoding This seems to be an issue with the `awx_display` callback since it overrides the original callback being specified.

[2022-05-12 16:35] blindrood commented on #1068
I don't have localhost entry at all in inventory and I don't see the need. Especially because this simply used to work before.
I think that, because Ansible doesn't support Python3.6 anymore, this shouldn't be part of ansible-runner image at all

[2022-05-12 17:13] evgeni commented on #1074
The backtrace does contain the right `ansible/plugins/callback/tree.py` tho?

[2022-05-12 17:13] evgeni commented on #1077
The backtrace does contain the right `ansible/plugins/callback/tree.py` tho?

[2022-05-12 19:39] AlanCoding commented on #1074
I don't think `ANSIBLE_STDOUT_CALLBACK` is right, because "tree" is not a standard out callback. It saves the data to files, it doesn't output it to the console. You can see it in the plugin code `CALLBACK_TYPE = 'aggregate'`, not `CALLBACK_TYPE = 'stdout'`.

In these cases you still need to set `ANSIBLE_CALLBACKS_ENABLED`. I still don't know how to make your script work correctly, but there's not

[2022-05-12 19:39] AlanCoding commented on #1077
I don't think `ANSIBLE_STDOUT_CALLBACK` is right, because "tree" is not a standard out callback. It saves the data to files, it doesn't output it to the console. You can see it in the plugin code `CALLBACK_TYPE = 'aggregate'`, not `CALLBACK_TYPE = 'stdout'`.

In these cases you still need to set `ANSIBLE_CALLBACKS_ENABLED`. I still don't know how to make your script work correctly, but there's not

[2022-05-12 20:28] Shrews commented on #1068
I agree with @sivel that this very much looks like an inventory issue (defined by user or via AWX). The limited amount of information provided makes this very difficult to diagnose.

- What changed in your setup between "working" and "not working"?

- Are there any logs showing the error that you can provide?

- Can you provide a reproducer for this that doesn't involve AWX? (We don't have the abi

[2022-05-13 02:52] TheTechromancer opened #1075 "CTRL+C stops working after using ansible_runner.run()"
It seems that after using `ansible_runner.run()` in a Python script, `KeyboardInterrupt`s no longer have any effect.

To reproduce run the following code in a terminal window and note that CTRL+C does not work after Ansible has finished:
[code]

I was able to solve this issue by resetting the default `SIGINT` handler like so:
[code]

[2022-05-16 11:26] Bellaby commented on #853
I've done a workaround using `os.chmod()` with mode of `600` before and after running the `ansible_runner.run()` in Python.

for example and by no means tidy:
[code]

Obviously, the user running the script needs the correct permissions.

[2022-05-16 23:23] engnatha commented on #756
I am also running into this issue (using 2.0.3). I imagine this breaks other functionality like `vars_prompt`.

[2022-05-17 13:14] ryanmerolle commented on #1040
With ansible-core 2.13.0 no released, this probably make sense to get a tag built ASAP for people to start using and testing.

[2022-05-17 13:16] eqrx commented on #1071
If you would be so kind you could raise a PR that adds your finding :) Would appreciate it!

[2022-05-17 13:18] ryanmerolle opened #1076 "ansible-runner 2.2.0 docker image"
ansible-runner 2.2.0 was released 10 days ago, but the ansible-runner image on quay has been last built/published 19 days ago.

[2022-05-17 14:10] sivel commented on #1077
This is most certainly a runner bug.  The problem is that the `DOCUMENTATION` for `awx_display` only extends from `default_callback` and the fact that there is dynamic class building means that the config defs for the inherited callback are not included in the config defs of the `awx_display` callback.

This means that the `awx_display` as is can currently only utilize a callback that is effective

[2022-05-17 14:24] bcoca commented on #1077
patch looks good, though i might reverse the order depending on which options you want to have precedence in a conflict case

[2022-05-17 14:46] AlanCoding commented on #1077
I don't disagree with the patch, but I lack a genuine test case. The command:

[code]

Results in _no_ output and the data saved to `~/.ansible/tree`. It is somewhat surprising that it runs.

[code]

Results in normal stdout and the same data saved to `~/.ansible/tree`.

I can find no example of a stdout callback that sets non-default options.

[2022-05-17 14:50] sivel commented on #1077
fwiw, this was how I tested with just ansible core:

[code]

[2022-05-17 15:00] bcoca commented on #1077
iirc, this one should have non standard options only
https://docs.ansible.com/ansible/latest/collections/community/general/selective_callback.html

[2022-05-18 12:10] Kamatam opened #1078 "Examples on how to use event_handler and status_handler"
I am trying with following python code to run the playbook using ansible_runner and ansible_runner_http but not able to find how to use event_handler and status_handler. Please suggest some example on this

import ansible_runner
from ansible_runner_http.events import event_handler
r = ansible_runner.run(private_data_dir='/tmp/ansible/,
 playbook='test1.yml',
 event_handler=None)

[2022-05-18 14:00] Akasurde commented on #1078
@Kamatam Thanks for reporting this issue. Could you please give us the use case of `event_handler` and `status_handler`?

[2022-05-18 14:20] Akasurde commented on #1078
Simplest example -

[code]

[2022-05-18 14:40] Shrews commented on #1076
Duplicate of https://github.com/ansible/ansible-runner/issues/1064

As already pointed out [here](https://github.com/ansible/ansible-runner/issues/1064#issuecomment-1118481247), [here](https://github.com/ansible/ansible-builder/issues/377#issuecomment-1122651459) and [here](https://github.com/ansible/ansible-builder/issues/376#issuecomment-1118481665), we are actively working on a new container re

[2022-05-18 14:40] #1076 closed, assigned to nobody

[2022-05-18 14:51] ryanmerolle commented on #1076
Apparently I am loosing it.   I came back from vacation and thought I only mentioned on ansible-builder.

[2022-05-18 17:23] Kamatam commented on #1078
@Akasurde thank you for the details. My use case is to send the data to http(s) rest endpoint for specific events only instead for every event. For example, send playbook task result's events. Currently http event handler (with runner_http_url) triggers for every event.

[2022-05-19 01:15] matburt commented on #1078
What you are asking for might be a little on the complex side... what @Akasurde showed you is a basic example of how to pass the event handler in... filtering events and sending them along is a little bit more involved. The `data` parameter is going to contain a python dictionary and the data structure will look like this: https://ansible-runner.readthedocs.io/en/stable/intro/#artifactevents

What

[2022-05-20 10:22] ashpool37 commented on #398
Another thing to mention since this issue pops up when searching for "ansible-runner ansible.cfg".

`ansible-runner` changes the working directory before launching `ansible`, setting it to the `project` directory inside the input directory hierarchy by default. Put `ansible.cfg` inside `project`, not in the root of the hierarchy, and you shouldn't need to set any extra variables: `ansible` will ju

[2022-05-23 18:42] MallocArray commented on #1068
We have this same issue with the ansible-runner image for an Execution Environment when doing `connection: local` at the playbook level for any tasks that need to run on the localhost, such as several VMware and Netapp modules.  The issue has been discussed here:
<https://github.com/ansible/ansible/issues/16724>
<http://willthames.github.io/2018/07/01/connection-local-vs-delegate_to-localhost.html

[2022-05-23 18:48] MallocArray opened #1081 "Quay builds have not run recently"
In the past, when looking at Quay, the ansible-runner images were updated almost daily.  Currently they haven't been updated for 25 days.  Are there no new items to push or is a build process not working as expected?

https://quay.io/repository/ansible/ansible-runner?tab=tags

[2022-05-23 18:52] sivel commented on #1068
EL8, which is used for the base containers, has a default system python located at `/usr/libexec/platform-python` (which is Python 3.6), and `ansible-core` has special knowledge of this interpreter currently.  It cannot be removed, as it is part of the base operating system and required for many system utilities written in Python such as `dnf` which is a protected package.

As mentioned in a numbe

[2022-05-24 08:48] Akasurde commented on #1081
@MallocArray Thanks for reporting this. We are working on revamping the pypi and container release pipelines. We will keep you posted.

Duplicate of https://github.com/ansible/ansible-runner/issues/1064

[2022-05-24 08:48] #1081 closed, assigned to nobody

[2022-05-25 08:34] morningspace opened #1082 "Is there a way to run a role using ansible-runner as sudo"
I'd like to run an ansible role using ansible-runner as sudo. According to this post, https://stackoverflow.com/questions/31663592/applying-a-role-under-sudo-user, it looks I have to write an additional playbook to do so. I wonder if this could be supported at ansible-runner level by some configuration or command line args, so that no need to write a playbook for this.

[2022-05-25 13:43] Shrews commented on #1082
The only way I can think of doing this is to run the role directly. `ansible-runner` has no ability to add extra functionality to the underlying Ansible program.

You can have `ansible-runner` run a role directly (https://ansible-runner.readthedocs.io/en/stable/standalone/#running-roles-directly), and you can use the `--cmdline` option to pass additional arguments to `ansible-playbook` to use `bec

[2022-05-26 03:08] safeblood commented on #1073
I finally find the problem the flask_restful. Case close.

[2022-05-26 03:08] #1073 closed, assigned to nobody

[2022-05-26 09:19] toni-moreno opened #1083 "Documentation bug: Need to update min supported Python for 2.x.y versions"
Hello guys. I'm trying to create an execution evironment for awx over and old ubuntu with python 2.7.17

the documentation site confirms python 2.7+  support  (https://ansible-runner.readthedocs.io/en/2.0.0/install.html) but an error happened when executed the following command

`ansible-runner worker --private-data-dir=/runneransible-runner worker --private-data-dir=/runner`

with this script.

[

[2022-05-26 14:18] Shrews commented on #1083
Looks like that line using the f-string was introduced in PR #470. I see several uses of f-strings (not compatible with Python 2.x) in the `release_2.0` branch, so I suspect that the documentation is outdated. Runner version `1.4.x` was the original version that supported the older Python, and we do not test any `2.x.y` versions with any python less than `3.8`. Given the above, I consider this a d

[2022-05-26 18:09] Shrews commented on #1083
Seems this doc was updated in PR #855 but RTD is not updated for some reason.

[2022-05-26 18:36] Shrews commented on #1083
Rebuilt the `2.0.3` docs that show the updated docs (https://ansible-runner.readthedocs.io/en/2.0.3/install/). No way to go back and correct the older versions, unfortunately.

Thanks for reporting this issue. Closing this per above.

[2022-05-26 18:36] #1083 closed, assigned to nobody

[2022-05-27 08:32] toni-moreno commented on #1083
Thank you very much @Shrews

but I'm still with problems I need to run this container as AWX execution environment with and old ansible version (2.3.3.0) this is becaouse I'm working with python 2.7. but I guess I need run ansible-runner  as "worker" to run as execution environment and it won't be posible with 1.4.X release. Is'nt it?

[2022-06-01 01:04] TheRealHaoLiu opened #1085 "while running via the transmit-worker-process, ansible-runner should only check process isolation exec for worker"
When trying to run job via `transmit-worker-process` while using `process_isolation_executable` the kwargs pass into
`transmit` will contain the `process_isolation=true` this cause `check_isolation_executable_installed` to run during all 3 of the phases (transmit, worker, process)

https://github.com/ansible/ansible-runner/blob/a349921448f84dc507abbd87aca163291f2c3bdc/ansible_runner/interface.py#L

[2022-06-01 12:02] Peco602 commented on #369
Did you find an alternative approach to this issue?

[2022-06-01 12:55] kbreit opened #1087 "Documentation is incorrect about positional arguments"
Documentation located at https://ansible-runner.readthedocs.io/en/stable/standalone/ shows a command such as `ansible-runner run /tmp/private -p playbook.yml` where the private directory is specified after `run`. However, executing `ansible-runner run --help` states this is a positional argument and should be specified at the very end.

[code]

[2022-06-01 14:14] #1078 closed, assigned to Akasurde

[2022-06-01 17:57] TheTechromancer commented on #702
Running into this as well.

[2022-06-03 00:06] TheRealHaoLiu opened #1088 "fail to create container when ansible-runner is installed in /usr"
When using process_isolation_executable (in this specific case `podman`) via `ansible-runner run` and `ansible-runner worker`
ansible-runner will mount `ansible_runner/display_callback/callback` on the host to `/home/runner/.ansible/plugins/callback` in the container

https://github.com/ansible/ansible-runner/blob/c143c07a9355cf4f598717ad853bb4fd008dbca7/ansible_runner/config/_base.py#L508-L509

W

[2022-06-03 00:17] TheRealHaoLiu commented on #1088
additional context:
I am currently working on deploying and running containerized receptor (in execution environment image) on VM directly and allowing the containerized receptor to spawn container on the host itself (by mounting in podman socket and adding podman-remote to receptor container)

when operating in this mode even if i'm not running as root `/usr/lib/python3.9/site-packages/ansible_ru

[2022-06-03 17:18] temach commented on #1075
I am also running into this bug with `ansible_runner.run_async()`. I am using the following versions on linux:
[code]

My workaround is to pass cancel_callback a function returning None:
[code]

[2022-06-07 13:04] #1085 closed, assigned to nobody

[2022-06-08 19:42] sivel commented on #1006
The above change has been merged to ansible/ansible.  Please ensure that this isn't causing any duplicate events in runner.

[2022-06-09 12:54] mrprofessor opened #1095 "Docker pull error "Missing signature key""
Docker throws "Missing signature key" error while pulling from quay.io

Error
[code]

Docker version
[code]

[2022-06-09 13:28] arnaudmm opened #1096 "Add the possibility to run user scripts in entrypoint"
Hello,

This is a common pattern to give users the opportunity to run their own scripts without overriding the original entrypoint.

You can see an example with mysql docker image here:

In Dockerfile you create an empty directory : [see here](https://github.com/docker-library/mysql/blob/275e9822858884a85434448cb6777683692365e6/8.0/Dockerfile.debian#L37)

In entrypoint script, you execute whatever

[2022-06-10 12:13] Smixi commented on #493
I ran into this issue recently, we use a service to deploy stuff through ansible, and changing data that we pass to Ansible python interface, the env/extravars is merged. But even merging is not OK, because we use the same project with different inventory and env variable, leading to deployment having too much extravars from old execution, not only bad values, too much also.

[2022-06-10 12:24] mrprofessor commented on #1095
Fixed this issue by upgrading docker in the circle-ci container.

[2022-06-10 12:24] #1095 closed, assigned to nobody

[2022-06-10 13:03] AlanCoding commented on #493
An option to not write files in the `env/` directory was added in https://github.com/ansible/ansible-runner/pull/1000

Perhaps that can be said to resolve this issue?

[2022-06-10 13:10] #493 closed, assigned to nobody

[2022-06-10 14:42] Smixi commented on #493
@AlanCoding yep it will do for me :). It just felt weird that is was taking up both config (extravars in folder and through python interface), but in my use case I can never it and it will work perfectly. Thanks :).

[2022-06-13 14:58] Akasurde commented on #1025
Closing this issue as there is no response from the reporter. Please feel free to re-open if the problem persists. Thanks.

[2022-06-13 14:58] #1025 closed, assigned to nobody

[2022-06-14 13:12] eqrx commented on #1096
Hey, thank you for the issue. Did you mean to create this issue for ansible-builder? Runner only runs images as they are.

[2022-06-14 13:17] eqrx commented on #1087
Hi, thank you for the issue!

this is the help output and behavior of the `argparse` library. The library allows you to intermix positional and optional args as you please!

Hope that helps.

[2022-06-14 13:17] #1087 closed, assigned to nobody

[2022-06-15 09:17] #1088 closed, assigned to nobody

[2022-06-21 12:30] arnaudmm commented on #1096
Hey! Thanks for your answer and your time.

We are using `quay.io/ansible/awx-ee:latest` image which source code is here if i'm right : https://github.com/ansible/awx-ee

So I would like to edit entrypoint file located in this image (/usr/bin/entrypoint)

But I am a little bit lost to determine where this file comes from 🤔 My first guess was from this repository..

[2022-06-22 09:53] Akasurde commented on #1082
@morningspace Could you please confirm if the solution provided by @Shrews works for you? Thanks.

[2022-06-26 07:33] morningspace commented on #1082
Hi @Akasurde yes, it does work for me. Thanks @Shrews , closing it.

[2022-06-26 07:33] #1082 closed, assigned to nobody

[2022-06-27 03:00] Akasurde commented on #1082
@morningspace Thanks for the feedback. @Shrews Thanks for the suggestion.

[2022-06-30 17:31] deadline527 opened #1099 "env/envvars cannot be used if its encrypted by ansible-vault?"
I noticed the env/extravars is processed fine when encrypted using ansible-vault, but the envvars file it seems is not being read correctly if its encrypted. Im not sure if this is expected behavior or not. Would like to understand if its even possible to encrypt the envvars file with ansible vault to protect the contents of the data inside.

My guess is that the envvars are loaded way before any

[2022-07-06 06:14] XiYanXian opened #1100 "How can I use custom module in a playbook"
hwo can i assign a module_path to use my custom module?

[2022-07-11 10:09] Smixi commented on #702
I got the same issue. Is there a way to not write the inventory at all, so we don't have to bother about permissions, or a temporary one. It doesn't feel legitimate to have an inventory passed as a dictionnary that is written (with potentially secrets in it).  Is this because of how Ansible handle them ? (duplicated : https://github.com/ansible/ansible-runner/issues/853)

[2022-07-12 13:05] eqrx commented on #1100
Hey, see for https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-module-path, you basically have to set an environment variable here. If you have more specific questions about that I would suggest you turn to the ansible core team (https://github.com/ansible/ansible). Good luck.

[2022-07-12 13:05] #1100 closed, assigned to nobody

[2022-07-12 14:24] Akasurde commented on #1100
Use `envvars` as -

[code]

[2022-07-14 20:57] cidrblock opened #1101 "`pipes` is deprecated in python 3.13"
https://github.com/ansible/ansible-runner/blob/3b74385a148292c9882c78d51a1488bbca505123/ansible_runner/utils/__init__.py#L16

and throws a deprecation warning:

[code]

[2022-07-19 16:06] rust84 commented on #1009
I just built the image myself because I saw there is a critical vulnerability showing in quay CVE-2020-36242.

https://access.redhat.com/security/cve/cve-2020-36242

In the freshly build image there are 5 high and no critical so it looks like this has been patched. Could we get a new build?

[code]

[2022-07-19 16:11] Akasurde commented on #1009
@rust84 We are in process of building the new images, it just that we are just working out GitHub Workflow related issues. Will keep you updated on that.

[2022-07-20 06:33] #1101 closed, assigned to nobody

[2022-07-20 11:42] rust84 commented on #1009
Thanks for the reply. I've just built my own. Will keep an eye on the issue.

[2022-07-21 14:02] Akasurde commented on #1009
@rust84 thanks for the update and patience.

[2022-07-23 12:38] buxiaomo opened #1107 "`finished_callback` how to get runner_ident"
I want save stdout to mongo on callback finished func , how can I get `runner_ident ` on finished callback

[2022-07-25 20:42] deadline527 opened #1108 "Ansible Vault with ansible-runner for env/envvars not possible"
Is it possible to allow for the env/envvars file to be encrypted using ansible-vault?

I know the env/extravars can be successfully decrypted at runtime, but it seems for envvars they get loaded in much earlier.

Im not sure if this is something anyone has done before, but we really wanted to store secrets as environment variables within the runner environment but currently havent found a way to d

[2022-07-26 13:03] eqrx commented on #1108
Duplicate of #1099 1099

[2022-07-26 13:03] #1108 closed, assigned to nobody

[2022-07-26 13:18] Akasurde commented on #1099
@deadline527 Thanks for the issue. Decrypting `env/envvars` is not supported and we don't have plans to support it anytime soon. I will go ahead and close this issue for now. Thanks.

[2022-07-26 13:18] #1099 closed, assigned to Akasurde

[2022-07-26 13:22] Shrews commented on #1107
You should be able to get to the `runner_ident` value somewhat indirectly through the passed in Runner object's config data. Something like:

[code]

[2022-07-26 13:22] #1107 closed, assigned to Shrews

[2022-07-26 14:09] andrew-landsverk-win commented on #1040
Hello, are there any updates on this issue?

[2022-08-01 09:40] 24-komal opened #1109 "Custom execution environments fail with "ansible-runner" project updates"
Because of the recent changes of the "ansible-runner" project the current images of the Ansible Automation Platform are failing with the error message -->

"ERROR! Invalid callback for stdout specified: awx_display"

According to the AWX project --> https://github.com/ansible/awx/issues/12023

It is due to a recent movement of a python file. When building a default execution image with any image t

[2022-08-08 20:12] mitchmahan opened #1110 "PEP396 - Add __version__ to main module."
When trying to get the module version for ansible_runner the following code does not work:

[code]

https://peps.python.org/pep-0396/#specification

_3. When a module (or package) includes a version number, the version SHOULD be available in the __version__ attribute._

Currently, I believe the VERSION string is only available via the following:
[code]

[2022-08-09 10:23] webknjaz commented on #1110
![Screenshot_2022-08-09-12-23-42-55_40deb401b9ffe8e1df2f1cc5ba480b12.jpg](https://user-images.githubusercontent.com/578543/183625808-b5a6fef5-8a84-468d-b27d-8c1ecfbc6d51.jpg)

[2022-08-09 10:25] webknjaz commented on #1110
FWIW Python packaging-wise it's recommended to use `importlib.metadata` for extracting an installed package's version.

[2022-08-09 10:27] webknjaz commented on #1110
This is not to say that exposing a version via `__version__` is ultimately bad. But I've seen the setuptools maintainer actively discouraging it lately for the sake of decreased maintenance burden in the project's that tend to expose it.

[2022-08-09 10:36] Akasurde commented on #739
resolved_by_pr #1111

[2022-08-09 12:17] Akasurde commented on #618
I will go ahead and close this issue as the required information is missing. Please feel free to re-open this issue. Thanks.

[2022-08-09 12:17] #618 closed, assigned to nobody

[2022-08-09 13:05] eqrx commented on #1110
We are looking into adding a version flag to provide the version output via cli. Thank you for the issue :)

[2022-08-09 14:54] jenwirth opened #1113 "rsync version problem? (ansible.posix.synchronize fails with unknown option)"
I posted a question today on SE: https://serverfault.com/questions/1107760/ansible-posix-synchronize-fails-with-unknown-rsync-option

I build a custom executor (using ansible-builder). It only adds roles and collections.

When running a Job in AWX, I get the following error on a task using `ansible.posix.synchronize`:

[code]

Versions:

- AWX: quay.io/ansible/awx:21.3
- remote target host: Ubuntu

[2022-08-10 05:38] jenwirth commented on #1113
Someone commented on my Stack Exchange post with the following link https://bugzilla.redhat.com/show_bug.cgi?id=2043753

Adding `--sparse-block=0` to `rsync_opts` makes the playbook pass:

[code]

[2022-08-10 12:51] Akasurde commented on #947
I will go ahead and close this issue since there is no input from the original reporter. Please re-open the issue if the problem persists. Thanks.

[2022-08-10 12:51] #947 closed, assigned to eqrx

[2022-08-10 13:07] Akasurde commented on #795
We decided not to proceed with patchback. Closing this as `won't fix`.

[2022-08-10 13:07] #795 closed, assigned to nobody

[2022-08-11 18:34] webknjaz commented on #795
FYI GitHub now has a checkbox on forking saying "only copy the default branch".

[2022-08-11 21:14] sigma2017 commented on #1113
I am using rsync to sync mysqldump from centos8 stream to centos7 and since 4 days ago I had the same errors. This is due to a recent rsync update rsync-3.1.3-16.el8.x86_64
--sparse-block=0 solved the issue, thanks!

[2022-08-11 21:55] alice-rc opened #1114 "Cannot specify inventory when using ansible-runner with podman container (process-isolation) and --limit"
Specifying the inventory when combining the options of --process-isolation and --limit will ALWAYS use the inventory file <private_data_dir>/inventory/hosts.

`ansible-runner run --playbook test.yml --limit host1 [--inventory <FQPATH>] .`
works no matter where the inventory file is specified (in ansible.cfg or using --inventory on the CLI)
`ansible-runner run --playbook test.yml --process-isolatio

[2022-08-16 14:39] shanemcd commented on #1046
JFYI we just merged a PR for receptor that shows how to do architecture emulation with qemu and docker buildx: https://github.com/ansible/receptor/pull/652

[2022-08-22 15:03] #739 closed, assigned to Akasurde

[2022-08-23 13:03] Akasurde commented on #1113
Closing this as per above.

[2022-08-23 13:03] #1113 closed, assigned to nobody

[2022-08-23 13:06] Akasurde commented on #1114
@alice-rc Thanks for reporting this issue. We will try to reproduce this on our end.

[2022-08-24 17:11] urbanchef opened #1122 "The usage of custom callback plugins"
Hi! I've been struggling for days with the following problem:

I have a custom callback plugin, which reformats ansible playbook output:
Hope you guys could help me.
[code]
Look [here](https://pastebin.com/XN1D0kmg) for verbose output

Note the line:
[code]

But when running [from ansible-runner like so](https://pastebin.com/2y3QbSTH) it does not work.
**How can I force ansible-runner to use ansib

[2022-08-25 16:09] Shrews opened #1124 "Fix unclosed file warnings"
Using the `-Werror` flag to `pytest` in our unit tests reveals that there are places in the code where we do not properly close open file handles (.e.g., `ResourceWarning: unclosed file ...`). We should investigate and fix those.

See PR #1123 as an example fix.

[2022-08-25 16:45] #823 closed, assigned to nobody

[2022-09-08 07:19] Akasurde commented on #1124
PR #1123 merged. Closing this issue.

[2022-09-08 10:58] Shrews commented on #1124
Reopening this. Referenced PR #1123 only fixes one code path producing this warning. Turning on `-Werror` for all unit tests will reveal similar warnings that we need to investigate.

[2022-09-08 11:58] Akasurde commented on #1124
@Shrews my bad.

[2022-09-08 12:06] Akasurde commented on #1122
@urbanchef Can you please try the following code and let us know if it works for you?

[code]

[2022-09-12 08:05] djvl commented on #1114
I experience the same issue. ansible-runner seems to ignore any value given for inventory on the cli using the settings (env/settings) below. Whatever value is given, it sticks to '/runner/inventory/hosts'.
[code]

The version inside the container:
[code]
Command line from debug:
[code]

[2022-09-12 11:12] Akasurde commented on #1114
This might be the reason -
https://github.com/ansible/ansible-runner/blob/d467662f585f5bb6ed2c5e8d57f130772760031a/ansible_runner/config/runner.py#L163

[2022-09-12 21:37] guliaka opened #1127 "Cannot build wheel/image from latest branch"
When running make wheel according to documentation get:

[code]
Python 3.8.12

[2022-09-13 11:34] Akasurde commented on #1127
@guliaka I am not able to reproduce this error. Can you please check if you have the `wheel` package installed or not?

[2022-09-13 11:40] Akasurde commented on #1071
@lcfd Would you be interested in raising a PR with your findings?

[2022-09-13 11:43] Akasurde commented on #1019
@AlanCoding Does PR #1021 resolve this issue?

[2022-09-13 11:56] Ladas commented on #1019
@Akasurde yes, this has been solved.

[2022-09-13 11:56] #1019 closed, assigned to AlanCoding

[2022-09-13 12:00] Akasurde commented on #1019
@Ladas Thanks for the confirmation.

[2022-09-15 16:59] joaopfg opened #1130 "How to get the response of run_command method as a dict ?"
When running commands like:

`out, err, rc = ansible_runner.run_command(executable_cmd="ansible-playbook", ...)`

The response comes as a string in `out` instead of a dictionnary and the string is very far from a json. So, it can't be loaded directly into a dict without a heavy parsing work.

Is the parsing supposed to be done by the package user ? If so, why this choice ?

[2022-09-15 17:00] joaopfg opened #1131 "How to set tags in the run method ?"
When running commands like:

`output = ansible_runner.run(private_data_dir=package_dir, playbook='docker_compose.yml', extravars={'hosts': hosts, 'dirs': dirs})`

it seems there is no parameter to filter playbook tasks by tags. This is an important feature for my use case, otherwise I will have to create tons of playbooks to do related tasks.

[2022-09-15 17:02] joaopfg opened #1132 "How to use a module in the run method ?"
When running commands like:

`output = ansible_runner.run(private_data_dir=package_dir, module='ansible.builtin.script', module_args=..., extravars={'hosts': hosts, 'dirs': dirs})`

what am I supposed to use in `module_args` parameter ? I can't find any examples in the docs and by looking at the source code it seems this parameter is never used ? Does it mean it's still not supported by this packa

[2022-09-15 17:32] sivel commented on #1132
There is an example at https://github.com/ansible/ansible-runner/blob/devel/docs/python_interface.rst#usage-examples

Effectively it is equivalent to `-a` for the `ansible` adhoc CLI.

[2022-09-15 17:36] sivel commented on #1131
`tags` are handled by `RunnerConfig`.  In the end, you can directly instantiate `RunenrConfig` or just pass `tags` through the `run` function, which are passed on to `RunenrConfig` for you.

https://ansible-runner.readthedocs.io/en/stable/ansible_runner.config/

[2022-09-15 17:40] sivel commented on #1130
You want to use the events functionality:

* https://ansible-runner.readthedocs.io/en/stable/python_interface/#runner-events
* https://ansible-runner.readthedocs.io/en/stable/intro/#artifactevents

[2022-09-15 19:02] joaopfg commented on #1132
@sivel Thanks for reply ! I had saw that one. But how to proceed in cases where the `module_args` needs a variable provided by `extra_args` ?

For example, one of my use cases is to call the `ansible.builtin.script` module to run a bash script that receives an argument. Is it possible somehow without writing a playbook ?

[2022-09-15 19:04] sivel commented on #1132
The same way it works on the adhoc CLI:

[code]

`module_args` is directly fed into `ansible` via `-a`

So `module_args="script.sh {{ foo }}"`

[2022-09-15 19:10] joaopfg commented on #1131
@sivel  Thanks! While looking at the docstring of the `run` method in the source code I couldn't find the `tags` parameter. Good to know it's possible to pass it directly to the run method.

[2022-09-20 13:35] Akasurde commented on #1131
resolved_by_pr #1134

[2022-09-20 13:37] Akasurde commented on #1132
Closing as per above.

[2022-09-20 13:37] #1132 closed, assigned to nobody

[2022-09-20 13:38] Akasurde commented on #1130
Closing this as per @sivel comment.

[2022-09-20 13:38] #1130 closed, assigned to nobody

[2022-09-20 13:39] Akasurde commented on #1122
@urbanchef Can you please check the above comment and reply? Thanks.

[2022-09-21 08:11] joaopfg opened #1135 "How to supress the artifacts, inventory and project directories automatically generated by run method ?"
Whenever I call the `run` method, these directories `artifacts`, `inventory` and `project` are generated. I saw there is a flag `suppress_env_files`, which I'm already using to suppress the `env` directory. However, I can't find a flag to suppress these other directories. In my use case, I build the inventory and playbooks at runtime (as python objects) for security reasons. So, I have no need for

[2022-09-22 14:32] #1131 closed, assigned to Akasurde

[2022-09-26 13:27] Akasurde commented on #1127
@guliaka Can you please update the required information? Thanks.

[2022-09-29 04:45] pinkbubba opened #1137 "Object of type HostVarsVars is not JSON serializable"
I'm getting error

[code]

when running the below playbook in AWX (ansible-runner)

[code]

ansible-runner --version
2.1.4.dev2

python --version
Python 3.8.13

[2022-09-29 04:57] pinkbubba commented on #1137
[code]

[2022-09-29 09:46] menardorama opened #1138 "Version of pyOpenSSL is too old"
Hi,

We are trying to build a custom ansible runner image for our awx instance.

We need to add a python library to talk to our IPAM (https://gitlab.com/efficientip/solidserverrest)

This python lib use pyopenssl version 22 which breaks compatibility with ansible-runner.

Have you got a solution to manage this or can you bump the pyopenssl version ?

Thanks a lot

[2022-09-29 13:24] Chaffelson opened #1140 "use of async wait tasks working in 2.10 break in 2.12"
We have several tasks which use async & poll0 to launch a bunch of slow object creations in parallel, and then track completion using async_status.

In 2.10 this works as expected, however in the 2.12 runner we see that the results file is looked for in the wrong path.

Example Tasks:
[code]

Here is an example error:
[code]
Note that it is looking in /root/.ansible_async (which does not exist) in

[2022-09-30 23:04] adamjmont commented on #1138
Same issue here, custom image built with ansible galaxy community.vmware collection fails for the same reason.

[code]

[2022-10-03 22:44] sivel commented on #1140
Potentially relevant: https://github.com/ansible/ansible/issues/77450

[2022-10-04 08:51] rafabono commented on #1138
Hi,
I've the same problem. When I build a new EE image for AWX, and then launch a job with this image, I get this error:

[code]
My requirements.yml is the next:

[code]
And my requirements.txt is:

[code]
The workaround indicates in https://github.com/ansible/awx-ee/issues/137 doesn't work for me. Any solution?

Thanks.

[2022-10-04 13:05] eqrx commented on #1135
Those directories are required for running runner. We would suggest manually removing them if needed. The `suppress_env_files` is there to omit potentially sensitive info.

[2022-10-04 13:05] #1135 closed, assigned to nobody

[2022-10-04 13:06] eqrx commented on #1137
@shanemcd @AlanCoding any thoughts on that?

[2022-10-04 13:09] eqrx commented on #1140
there is no 2.12 runner, do you mean ansible 2.12?

[2022-10-04 14:27] joaopfg commented on #1135
@eqrx Yes, for now I implemented a logic that removes these directories right after an Ansible command is executed via `ansible-runner` as a work around. But there is still the possibility that an attacker gets these directories while a command is being executed.

Would it be feasible that the `ansible-runner` architecture is modified to let the possibility of not depending on these directories ?

[2022-10-04 16:40] Chaffelson commented on #1140
Yes, sorry I mean the image tagged `stable-2.12-latest`

[2022-10-04 22:16] kurokobo commented on #1138
<details>
<summary>
<i>EDIT: Outdated workaround</i>
</summary>
@rafabono
The workaround works for me with your `requirements.yml` and `requirements.txt` on my side (in addition to your file, `bindep.txt` with `python38-devel` and `openldap-devel` seem required for me).

Try appending following `RUN sed` and `RUN cat` (this is just for debugging) lines manually to between the lines `RUN ansible-bu

[2022-10-04 22:44] adamjmont commented on #1138
Workaround works for me when I change "Dockerfile" to "Containerfile". You'll need to do the same if you have podman instead of docker.

Thanks @kurokobo for posting that!

[2022-10-05 16:51] rafabono commented on #1138
Thanks @kurokobo , the workaround works!!!

[2022-10-06 07:38] kurokobo commented on #1138
As @shanemcd did in https://github.com/ansible/awx-ee/pull/141 adding `ansible-runner>=2.2.1` to `requirements.txt` for Ansible Builder is the simplest workaround at this time. Ignore my previous workaround.

The upstream ansible-runner image on quay.io still needs to be updated since the current `latest` image has `ansible-runner-2.1.4.dev2`, so this issue shoud be opened until the image will be

[2022-10-06 13:18] CWollinger commented on #1138
@kurokobo thank you for the hint. I can confirm the workaround.

[2022-10-12 08:14] joaopfg opened #1143 "Automatic generated folders make it impossible to run different playbooks in multithreaded environment."
The automatic generated folders (`artifacts`, `inventory` and `project`) make it impossible to run different playbooks (with ansible-runner) in different threads.

I can of course remove these folders before and after every command but it doesn't solve the problem when two commands are run almost at the same time.

Is there some work around for this ?

Also, I don't see the reason for these folder

[2022-10-13 06:45] renithas opened #1144 "passing inventory.ini in ansible_runner.run()"
I am new to ansible_runner. Understanding the basic usage of ansible runner from https://ansible-runner.readthedocs.io/en/stable/python_interface/
In my project I have a python script which is used to execute ansible playbook.
[code]

In this,
inventory.ini has the content:
[code]

after calling run() method, I am getting error:

[code]

I have 2 qns:
1. How can I give inventory file to get rid of

[2022-10-13 10:21] ssbarnea opened #1145 "Incompatible with podman on macos due to the use of :Z on volume mount"
It seems that runner cannot be used with podman on macos because it adds a `:Z` to the artifacts volume mount, something that is [not supported on macos](https://github.com/containers/podman-compose/issues/509).

AFAIK, there is no option to disable this behavior.

[code]

@cidrblock

[2022-10-14 10:10] renithas opened #1147 "Error in loading key, ssh_key_data"
I am trying to use ansible_runner.run() in python script to execute playbook.
Tried this code:
[code]
calling run method:
 `result = ansible_runner.run(**kwargs)`

But I am getting an error :
`Error loading key "/tmp/tmp7lqqjohk/artifacts/dbe41cad-89e3-4bad-b572-72124f9b50c8/ssh_key_data": invalid format
`
Can anyone point out what I am doing wrong ?

[2022-10-15 07:42] ssbarnea commented on #1127
I would close this as user error, installing from source works fine.

While I salute the drop of poetry, I really doubt that `pbr` is the best thing here. On devtools project we went full setuptools-scm, even removed setup.py and fully implemented PEP-517. If anyone wants, we could make a PR to do the same for runner.

[2022-10-18 16:24] Shrews commented on #1147
This error is not from `runner` itself. It indicates an issue with the SSH key you have provided. I suggest trying to use the key you are providing outside the context of `runner` to attempt to identify the issue.

[2022-10-18 16:24] #1147 closed, assigned to nobody

[2022-10-20 18:57] AlanCoding commented on #1137
I ran that playbook, and I can't get it to give any error. Could you provide more details to reproduce the issue?

With the thing that it's looping over, it's likely sensitive to the contents of your inventory, or maybe the adjacent host_vars/ folder (vars plugin). I don't doubt that you might have hit this with some given inventory content, but I would be guessing to try to figure out how.

[2022-10-25 09:39] urbanchef commented on #1122
@Akasurde Apologies for such a long reply... Let me test it right away... Will get back soon with more info

[2022-10-25 10:29] urbanchef commented on #1122
@Akasurde Thanks!!! It works as expected now! Appreciate it!

[2022-10-25 13:26] Shrews commented on #984
I looked at the change that introduced this `--ipc` option. I cannot, for the life of me, see any reason that change needed `--ipc=host`. All the data that change needs is handled via volume mounts. The only thing I could imagine that _might_ need that option is the old performance gathering options (cgroups), which have long since been removed.

I'm in favor of following @maxamillion's suggestion

[2022-10-25 15:56] cidrblock commented on #984
TY.

[2022-10-25 16:16] sivel commented on #1137
It looks like the JSON encoder class is missing support for `Mapping` which [core has](https://github.com/ansible/ansible/blob/a12e0a0e874c6c0d18a1a2d83dcb106d207136af/lib/ansible/module_utils/common/json.py#L46):

https://github.com/ansible/ansible-runner/blob/d467662f585f5bb6ed2c5e8d57f130772760031a/ansible_runner/display_callback/callback/awx_display.py#L76

I didn't specifically test this play

[2022-10-25 17:41] Shrews commented on #984
So it turns out, on a system with SELinux enabled, mounting `SSH_AUTH_SOCK` in a rootless container, and then doing something like `ssh-add -l`, will generate an audit event, causing the command to fail. The event logged is:

[code]

To test this, on a host with SELinux enabled (say, Fedora 36), do:

[code]

Adding the `--ipc=host` option allows this option to work.

It has been suggested that `an

[2022-10-25 19:06] ssbarnea commented on #984
@Shrews Have your tried to use different mount security model for the socket mount? Maybe there is another way to workaround this issue.

Anyway, adding an option to override or bypass implicit behaviours is clearly more future proof, at we might discover other options that we (or user) might need to tune in the future. If we have a way to bypass defaults, we would not depend on updating the runne

[2022-10-25 19:14] AlanCoding commented on #1137
Well, we can't import from ansible in that context, and `Mapping` is an internal import. That is, then, conditionally imported depending on python version, and for what runner supports that resolves to `collections.abc.Mapping`. We could do a somewhat superficial unit test for this and trust that it fixes the issue, ideally, or we could get a playbook reproducer.

[2022-10-25 19:27] sivel commented on #1137
Yep, I wasn't recommending that.  Just that you could import `collections.abc.Mapping` and mirror the logic that core has, by casting `Mapping` to `dict`.

[2022-10-28 08:57] michaelkebe commented on #1138
We ran into this issue, too. Please release an updated image on quay.io. The latest release is more than 6 months old.

[2022-10-31 21:12] MallocArray commented on #1138
I would also like an update on when new images will be released. I was hoping to get to ask this at AnsibleFest

[2022-11-01 03:21] Akasurde commented on #1138
We are working on creating a new Ansible Builder which will simplify the build ansible-runner images, please check the progress here https://github.com/users/nitzmahone/projects/1.
This will reduce the dependency on upstream images.

[2022-11-01 11:58] urbanchef commented on #1122
#763

[2022-11-01 17:17] Shrews commented on #984
Side note: the `--ipc` option is generated _only_ when using the `run_command()` or `run_command_async()` API calls. Not generated via the `run()` API call, AFAICT.

[2022-11-03 07:34] raukadah opened #1152 "Publish CentOS stream 9 ansible-runner container image"
The OpenStack TripleO team is working on producing [tripleo-ansible-ee](https://quay.io/repository/tripleomastercentos9/openstack-tripleo-ansible-ee) container image to drive the standalone compute deployment
from Zed and master release on wards.

[tripleo-ansible-ee](https://opendev.org/openstack/tripleo-common/src/branch/master/container-images/tcib/tripleo-ansible-ee/tripleo-ansible-ee.yaml) co

[2022-11-03 20:23] Shrews opened #1153 "Some unit tests are skipped in runner CI due to no podman runtime"
Some of our CI unit tests are being skipped because there is no podman runtime installed in the CI test container (https://github.com/ansible/ansible-runner-test-container). These can be seen at the end of a unit test run:

[code]

The skipped tests are likely all marked with the `@pytest.mark.test_all_runtimes` pytest fixture. I suspect that the unit tests do not even need to use this fixture sin

[2022-11-03 21:31] ryanmerolle commented on #1064
Any updates?

[2022-11-04 17:51] #1153 closed, assigned to nobody

[2022-11-04 19:04] ryanmerolle commented on #1152
For anyone that needs it, I updated the runner and builder images to stream9 and got everything working.

An example of how to use them can be found [here](https://github.com/ryanmerolle/awx-network-ee)

[2022-11-05 06:40] jkugler opened #1159 "envvars not being treated correctly if they are not characters"
This is half bug report, half support request. I don't know if I hit a bug in ansible-runner (or ansible) or if I hit a nice corner case in the way Python handles environmental variables.

Today I spent the afternoon fighting with Ansible and ansible-runner. I tried to implement ANSIBLE_SSH_RETRIES in some of our code. Well, a test started timing out, even though I had set ANSIBLE_SSH_RETRIES to 0

[2022-11-08 19:58] bzwei opened #1160 "Occasional no such file error with option rotate_artifacts=1"
When calling ansible-runner python library to run a module with `rotate_artifacts=1`, we occasionally get no such file or directory:

[code]
Checking file directories,  `/tmp/run_module6zpse6zz/artifacts/b0fd06fb-bced-471c-9993-802f36b8a219` does not exist. The only artifact folder found is the leftover from last execution. Ansible runner deletes the wrong artifact.

To reproduce the error we exec

[2022-11-09 03:16] mkanoor commented on #1160
@bzwei Is this an Ansible Runner issue?

[2022-11-10 14:49] bzwei commented on #1160
Yes, I believe so. Please take a look.

[2022-11-15 14:41] Shrews commented on #1159
I don't it should matter if the value is an `int` or a `str` for that env variable. There really isn't enough information here to guide you on what could be going on with your test, but I'd suggest the following things:

- Enable more logging from `ansible-runner` by adding the following arguments to `run()`: `verbosity=2, debug=True, ignore_logging=False`
- Enable more logging from `ansible-playb

[2022-11-15 15:05] Shrews commented on #1160
Hrm, the code used to rotate the artifact dirs uses `mtime` (modification time) of the artifact directories to sort/delete. Depending on timing, and even outside entities accessing that directory's contents, I could see where that might cause the problem you see. A better strategy might be to use `ctime` (creation time) _AND_ add a safeguard to make sure we never delete the current artifact direct

[2022-11-17 08:55] rabi opened #1164 "ANSIBLE_VERBOSITY>=3 does not work with ansible 2.14 and ansible-runner"
Playbook run gets stuck when running with ansible 2.14 and ansible-runner 2.3.1 with verbosity>=3. This seems to be due to a regression in  awx_display.py after ansible PR https://github.com/ansible/ansible/pull/77056.

[code]
[code]

[2022-11-17 08:58] rabi commented on #1164
Related tripleo bug: https://bugs.launchpad.net/tripleo/+bug/1996612

[2022-11-17 11:46] urbanchef commented on #1143
Any updates on this?

[2022-11-17 19:18] joaopfg commented on #1143
@urbanchef The work around I implemented in my code is to generate these folders with names in a one to one correspondence with the thread that generated them. Like this, I can manage their lifecycle in each thread. Ugly solution though. I hope someone gets inspired to make a PR getting rid of these folders. I don't have time to dig deeper into that now.

[2022-11-23 14:45] heizie opened #1167 "unlimited generating new ssh session"
basically, the script is using `ansible_runner.run()` inside a loop with `time.sleep(120).` after a while, you'll find out a lots of ssh sessions are generated ` ps -ef| grep ssh| wc -l`
I've tried to delete the object, which contains the `ansible_runner.run()`, but was not helpful.
I can only stop the ssh session when i kill the python script

[2022-11-29 14:05] Akasurde commented on #1152
cc @nitzmahone

[2022-11-29 14:06] Akasurde commented on #1164
resolved_by_pr  #1165

[2022-11-29 14:07] Akasurde commented on #1167
@heizie Thanks for reporting this issue. Could you please provide additional details and logs so that we can try to reproduce this issue on our end? Thanks,